/*
	Theme Name:  Your Website
	Description: Custom child theme for the <a href="http://genesistheme.com">Genesis Framework</a>.
	Author:      Bill Erickson
	Author URI:  https://www.billerickson.net
	Version:     1.3.5
	License:     GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Template:    genesis
*/

/*
BEFORE MODIFYING THIS THEME:
Please read the instructions here (private repo): https://github.com/billerickson/EA-Starter/wiki
Devs, contact me if you need access
*/
.single-post .header-text-wrap {
    max-width: 35%;
}

@media only screen and (max-width: 900px) {
    .single-post .header-text-wrap {
        max-width: unset;
    }
}

.page-template-template-display-items .entry-content {
    margin-bottom: 25px;
}

.goals-container .image-section img {
    max-height: 190px !important;
}

@media only screen and (max-width: 1300px) {


    .goals-container .image-section img {
        max-height: 268px !important;
    }

    .section-text-wrap {
        text-align: center;
    }

    .goals-container .image-section {
        width: 100% !important;
    }

    .goals-container .flex-item {
        display: grid !important;
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 768px) {
    .goals-container {
        height: unset !important;
    }

    .goals-container .flex-item {
        display: flex !important;
    }
}

.studying-kit-read-more {
    background-color: #FFD65D;
    transition: 500ms;
    width: 40%;
    text-align: center;
    float: left;
}

.studying-kit-read-more-inner {
    padding: 5px
}

@media only screen and (max-width: 990px) {
    .studying-kit-download-text {
        width: unset !important;
    }
}

@media (max-width: 767px) {
    .studying-kits-container .studying-kits-grid .studying-kits-item .studying-kits-item-text {
        height: 353px !important;
    }
}

.tax-videos_cat .videos-slider-wrap {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    position: relative;
}

.tax-videos_cat .post-summary img {
    margin: 0 auto !important;
}

.tax-videos_cat .content-wrap {
    position: initial !important;
    margin-top: -435px;
}

.tax-videos_cat .site-inner {
    height: unset !important;
}

.tax-videos_cat .site-inner .wrap .site-main {
    z-index: -1;
}

@media (max-width: 1079px) {
    .tax-videos_cat .videos-slider-wrap .post-summary {
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .tax-videos_cat .videos-slider-wrap {
        grid-template-columns: 50% 50%;
    }

    .tax-videos_cat .videos-slider-wrap .post-summary {
        width: 90% !important;
        margin: 0 auto;
    }
}

@media (max-width: 620px) {
    .tax-videos_cat .content-wrap {
        margin-top: -400px;
    }
}

@media (max-width: 520px) {
    .tax-videos_cat .content-wrap {
        margin-top: -380px;
    }
}

@media (max-width: 400px) {
    .tax-videos_cat .content-wrap {
        margin-top: -290px;
    }
}

.pagination {
    border-top: none;
    position: absolute;
    bottom: -60px;
    right: 0;
    left: 0;
    margin-top: 20px;
}

.pagination ul li.active>a {
    background: #ffd65d !important;
}

.pagination-books {
    position: static;
}

.pagination-books .current {
    color: #ffd65d;
    background: black;
    border-radius: 50%;
    padding: 0 7px;
}

.pagination-books .page-numbers {
    margin: 9px;
    width: 100%;
    padding: 5px 10px;
}

.footer-widgets .wrap:after {
    background-size: contain !important;
    background-repeat: no-repeat;
}

.exhibitions-modal {
    direction: rtl;
}

.home .site-inner .wrap .news-titles-wrap .ticker-move {
    animation-duration: 50s !important;
}

.visual_photos-template-default .modal .flex-item {
    justify-content: space-between;
}

.visual_photos-template-default .modal .modal-text-wrap {
    width: 50%;
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.visual_photos-template-default .modal .modal-image-wrap {
    width: 50%;
}

.visual_photos-template-default .modal img {
    max-width: 500px !important;
}

.home-article-container .article-image-wrap {
    display: flex;
    justify-content: center;
}

.page-template-template-biography header.entry-header {
    height: 681px;

}

@media (max-width: 1310px) {
    .page-template-template-biography header.entry-header {
        height: 430px;


    }
}

@media (max-width: 992px) {
    .page-template-template-biography header.entry-header {
        height: 980px;
    }
}

@media (max-width: 450px) {
    .page-template-template-biography header.entry-header {
        height: 910px;
    }
}

.page-template-template-biography .four-pics-container .four-pics-image-wrap .image-box {
    justify-content: end;
}

.home .entry-header .header-container .slick-dots {
    bottom: 13px !important;
}

@media only screen and (max-width: 500px) {

    .exhibition-template-default .video h5,
    .exhibition-template-default .testimony h5 {
        font-size: 15px !important
    }
}

.width-100 video {
    width: 100%;
}

.block-inner-container .productions-grid {
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    gap: 0;
}

.block-inner-container .productions-grid .production-item .production-item-inner {

    overflow: hidden;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
}

.block-inner-container .productions-grid .production-item .production-item-inner:hover {
    overflow: unset;
}

.block-inner-container .productions-grid .production-item .production-item-inner:hover img {
    border-bottom: 5px solid #FFD65D;
    margin-top: -5px;
    transition: 500ms;
}

.block-inner-container .productions-grid .production-item .production-item-inner:not(:hover) img {
    transition: 500ms;
    border-bottom: 0px solid #FFD65D;
    margin-top: 0px;
}

.block-inner-container .productions-grid .production-item .production-image-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.block-inner-container .productions-grid .production-item .production-image-wrap img {
    margin: 0 auto;
}

.block-inner-container .productions-grid .production-item .production-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.35;
    padding-top: 8px;
    cursor: pointer;
}

@media (max-width: 1179px) {
    .block-inner-container {
        width: 90%;
        margin: 0 auto;
    }

    .block-inner-container .productions-grid {
        gap: 10px;
        grid-template-columns: 24% 24% 24% 24%;
    }
}

@media (max-width: 991px) {
    .block-inner-container .productions-grid {
        grid-template-columns: 50% 50%;
        overflow: hidden;
        gap: 3px;
    }
}

@media (max-width: 767px) {
    .block-inner-container .productions-grid img {
        width: 100%;
    }
}

@media (max-width: 649px) {
    .block-inner-container .productions-grid .production-item {
        position: relative;
        margin-bottom: 20px;
    }

    .block-inner-container .productions-grid .production-item .production-title {
        position: absolute;
        bottom: -3vw;
        right: 0;
        left: 0;
    }
}

@media (max-width: 559px) {
    .block-inner-container .productions-grid .production-item .production-title {
        bottom: 2vw;
    }
}

@media (max-width: 499px) {
    .block-inner-container .productions-grid {
        grid-template-columns: 100%;
    }

    .block-inner-container .productions-grid .production-item img {
        width: initial;
    }

    .block-inner-container .productions-grid .production-item .production-title {
        position: initial;
    }
}

.image-box-date {
    color: #FFD65D;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 3.43px;
}

.page-template-template-biography .modal {
    max-width: 70%;
}

.page-template-template-biography .modal .flex-item {
    direction: rtl;
    text-align: right;
}

.page-template-template-biography .modal .flex-item .modal-image-wrap {
    width: 50%;
    margin-left: 25px;
}

@media (max-width: 1024px) {
    .page-template-template-biography .modal {
        max-width: 90%;
    }

    .page-template-template-biography .modal p {
        font-size: 11px;
    }

    .page-template-template-biography .modal .flex-item {
        flex-direction: column-reverse;
    }

    .page-template-template-biography .modal .flex-item .modal-image-wrap {
        width: 200px;
        margin: 0 auto;
    }
}
.load-more-button-wrap{
    display: flex;
}
.load-more-button-wrap a{
    padding: 9px 45px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    background: rgb(255, 214, 93);
    width: 176px;
    text-align: center;
    margin: 50px auto;
}
@media (min-width: 811px){

    
    .nav-menu .menu-item:hover > .mega-menu-wrap .contact-header {
        padding: 26px 59px 18px 0;
    }
}
.contact-details-box .top-text{

    font-weight: 600;
    color: #ffd65d;
}
 .single-exhibition .items .book h5 {
  cursor:pointer
}
 .single-exhibition .items .book h5 {
    font-size: 30px;
    font-weight: bold;
    color: #FFD65D;
    position: absolute;
    bottom: 0;
    
    right: 15px;
}
p span.exhibition-read-more {
    color: #ffd65d;
    font-size: 22px;
    cursor: pointer;
}
.entry-author{
    display: none;
}
.single-article .entry-content {
    margin-bottom: 50px;
}
.single-article h2 {
    font-size: 80px;
    margin-right: 100px;
}
@media (max-width: 1300px){
    .single-article h2 {
        margin-right: 35px;
    }

}
@media (max-width: 900px){
    .single-article h2 {
        font-size: 35px;
    }

}

@media (max-width: 768px){
    .single-article h2 {
        margin-right: 10px;
    }

}
@media (max-width: 992px){
    .articles .article-inner.flex-item {
        flex-direction: column !important;
    }
    .articles .article:first-child{
        margin-top: 0;
    }
    .articles .article-inner.flex-item .img-wrap img {
        margin: 0 auto;
        max-width: 100%;
    }

}
.breadcrumb span.breadcrumb-link-wrap:nth-child(3) a {
    pointer-events: none;
    cursor: default;
}
.mention-header{
    margin-right: 108px;
}
@media (max-width: 1300px){
    .mention-header{
        margin-right: 35px;
    }

}
@media (max-width: 768px){
    .mention-header{
        margin-right: 10px;
    }

}
.home .home-article-container:nth-child(even) {
    margin-bottom: 0 !important;
}
.page-template-template-donations .donations-box .donations-second-screen form .gform_body input{
    width: unset !important;
}
@media (min-width: 1500px){
    .singular:not(.single-post)  header.entry-header h1 {
        max-width: 50%;
    }

}
@media (max-width: 1400px) and (min-width: 811px){
    /* UGLY WORKAROUND */
    .nav-menu{
        margin-top: 40px !important;
    }
    .nav-menu .menu{
        display: flex;
    width: 100%;
    flex-wrap: wrap;
    max-width: 81vw;
    }
    .nav-menu .nav-primary{
        justify-content: start !important;
    }
    .nav-menu .submenu-expand{
        transform: none !important;
    }
}
.header-slide a{

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}