// Colors
$white: #fff;
$grey_1: #FAFAFA;
$grey_2: #F5F5F5;
$grey_3: #EEEEEE;
$grey_4: #E0E0E0;
$grey_5: #BDBDBD;
$grey_6: #9E9E9E;
$grey_7: #757575;
$grey_8: #616161;
$grey_9: #424242;
$grey_10: #212121;
$black: #000;
$yellow:#FFD65D;
$site_footer:#444242;
$my-gray:#f3f3f3;

*:focus {
  outline: none;
}

// Brand Colors
$brand_colors: ('yellow':#FFD65D,
  'blue': #05306F,
  'red': #FF0000,
  'grey': $grey_1,
  'black':$black,
);
@import "../modules/brand-color";

$facebook: #3B5998;
$twitter: #00B6F1;
$pinterest: #CB2027;

$base-color: $grey_9;
$highlight: brand-color('red');
$border-color: $grey_4;

// Fonts
$serif: 'Rubik',
sans-serif;
$sans-serif: 'Rubik',
sans-serif;


// Content
$content-width: 768px;
$block-margin: 20px;

// Grid
$grid: grid;
$grid-width: 1168px;
$grid-gap: 32px;
$base-margin: 16px;
$wrap_edge: $base-margin;
$margin_2x: $base-margin * 2;
$margin_4x: $base-margin * 4;

// Site Header
$logo_width:48px;
$menu_width: $logo_width+$grid-gap;
$persistant_mobile: false; // 49px
$persistent_desktop: false; // 49px


// Include Media
$breakpoints: ('phone' : 360px,
  'my-phone':490px,
  'small' : 768px,
  'tablet' : 768px, // required for include-media
  'mobile_menu' : 810px,
  'medium' : 992px,
  'large' : 1200px,
  'desktop': $grid-width + $grid-gap, // required for include-media
  'content-width': $content-width + $grid-gap,
);

a {
  text-decoration: none;
  color: inherit;
}

//slick-arrows
.slick-arrow {
  height: 26px;
  border-radius: 50%;
  background-color: #d2d2d2;
  color: white;
  margin: 80px 10px;
  border: 2px solid #cecece;
}


@import "../modules/helpers";
@import "../vendor/_include-media";
@import "../modules/base-styles";