.goals-container {
    background-color: rgba(21, 20, 17, 0.1);
    height: 250px;
    margin-bottom: 240px !important;
    @include media("<=1300px"){
        height: 100%;
        margin-bottom: 0 !important;
    } 
    .flex-item {
        justify-content: space-between;
    }

    .block-goals-description {
        font-weight: 500;
    }

    .image-section {
        //  overflow: hidden;
        width: 31%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        img {
            margin: 0 auto;
            margin-bottom: 15px;
            max-height: 268px;
            @include media("<=small"){
                width: auto !important;
            }
            
        }

        .image-section-title {
            background-color: $yellow;
            color: #000;
            line-height: 1.33;
            letter-spacing: 3px;
            padding: 3px 5px;
            display: inline;
            font-weight: bold;
        }

        .image-section-description {
            margin-top: 15px;
            line-height: 1.56;
            letter-spacing: -0.3px;
        }
    }

    @include media("<=medium") {
        .block-inner-container {
            margin: 0 auto !important;
        }

        #goals-image-wrap .image-section {
            width: 33%;

            .image-section-description {
                font-size: 18px;
                padding-left: 8px
            }
        }
    }

    @include media("<=small") {
        height: unset;
        margin-bottom: unset !important;

        .flex-item {
            flex-direction: column;
            margin: 0 auto;

            .image-section {
                margin: 0 auto;

            }
        }

        #goals-image-wrap .image-section {
            width: 100%
        }

    }

}

////CEO
.ceo-block {
    margin-top: 86px !important;
}

@include media('<small') {
    .no-padding {
        padding: 0 16px !important;
    }

    .wp-block-image {
        margin: 0 auto !important;
    }
}