.home-moshe {
    margin-bottom: 122px;

    @include media("<small") {
        margin-bottom: 35px;

    }

    .block-inner-container {
        flex-direction: row-reverse;
        background-color: rgba(21, 20, 17, 0.1);
        padding: 20px !important;
    }

    a {
        @include yellow-button
    }

    .bottom-div-text {
        font-size: 18px;
        line-height: 1.56;
        padding: 11vh 13vh;
        width: 145%;
    }

    .bottom-div-image {
        transform: translate(-19px, -47px);
    }

    @include media("<medium") {
        .flex-item {
            flex-direction: column-reverse;
        }

        .bottom-div-text {
            padding: 8vh 10vh;
            width: 100%;
        }

        .bottom-div-image {
            transform: unset;
            width: 40% !important;
            margin: 0 auto;
        }
    }

    @include media("<small") {
        .bottom-div-text {
            padding: 20px;
        }
    }

}