.four-pics-container {
    text-align: center;


    .entry-content .four-pics-container:nth-child(5) {
        background-color: #1514111a;
    }

    div#four-pics-block_5e820751ebe15 {
        margin: 0 calc(50% - 50vw);
    }

    .four-pics-title {
        margin-bottom: 2vh;
    }

    h2 {
        margin-bottom: 60px;
    }

    .four-pics-seperator {

        margin: 3vh auto;
        width: 83px;
        height: 6px;
        background-color: #ffd65d;
        margin-bottom: 4vh;
    }

    .four-pics-image-wrap {
        display: flex;

        @include media("<=medium") {
            display: grid;
            grid-template-columns: 50% 50%;
            row-gap: 15px;

            @include media("<=my-phone") {
                grid-template-columns: 100% !important;

                .image-box {
                    margin: 0 auto !important;

                    .image-wrap {
                        width: 70% !important;
                    }
                }
            }

            .image-box {
                max-width: 90%;

                .image-wrap {
                    width: 70% !important;
                    margin: 0 auto;

                    @include media("<=small") {
                        width: 100% !important;

                    }
                }

                .text-wrap {
                    text-align: center;

                    .image-box-date {
                        width: 100%;
                    }
                }
            }
        }


        // justify-content: center;
        @include media("<=small") {

            display: grid !important;
            grid-template-columns: 50% 50%;
            grid-gap: 10px;
            overflow: hidden;

            .image-box {
                margin: 0 auto;
            }

            .image-box-title {
                font-size: 19px;
            }
        }

        p {
            font-size: 14px;
            ;
        }

        .image-box {
            margin: 0 1vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .image-wrap {


                a {
                    display: block !important;
                }
            }

            @include media('<1200px') {
                .image-wrap {}
            }

            .image-box-date {
                color: $yellow;
                font-size: 16px;
                font-weight: bold;
                line-height: 1.75;
                letter-spacing: 3.43px;
            }
        }

        .image-box:hover {
            .image-wrap {
                overflow: hidden;
                transition: 500ms;

                img {
                    border-bottom: 5px solid $yellow;
                    margin-top: -14px;
                    transition: 500ms;
                }
            }
        }

        .image-box:not(:hover) {
            .image-wrap {
                overflow: hidden;
                transition: 500ms;

                img {
                    border-bottom: 0px solid $yellow;
                    margin-top: 0;
                    transition: 500ms;
                }
            }
        }
    }

    .four-pics-image-wrap .image-box img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        box-shadow: 1px 1px 24px -14px #000;
    }

    .four-pics-image-wrap .image-box-title {
        font-size: 25px;
        font-weight: bold;

        @include media('<medium') {
            font-size: 20px;
        }

        @include media('<my-phone') {
            font-size: 16px;
        }
    }

    .four-pics-inner {
        padding: 10vh 0;
    }

    .biography-page {
        background-color: #000;
    }

    .button-wrap {
        display: flex;

        .load-more-about-us {
            @include yellow-button;
            width: 176px;
            text-align: center;
            margin: 50px auto;
        }

        .load-more-moshe-books {
            @include yellow-button;
            width: 176px;
            text-align: center;
            margin: 50px auto;
        }
    }
}


.moshe-books-container,
.articles-about-us-container {
    .image-box {
        position: relative;
        max-width: 22%;

        .image-box-date {
            bottom: 0;
            position: absolute;
        }
    }

    .image-box-description {

        line-height: 1.2;
        margin-bottom: 35px;

    }

    .four-pics-image-wrap:not(:first-child) {
        margin-top: 25px
    }
}