.memorial-banner {
    color: #fff;
    height: 328px;
    text-align: center;
    margin-bottom: 0 !important;
    margin-top: 127px !important;

    .block-inner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .memorial-banner-title {
        font-size: 20px;
        font-style: italic;
    }

    .memorial-banner-text {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.4;
        letter-spacing: 0.38px;
    }

    a {
        @include yellow-button;
        width: 192px;
        margin: 0 auto;
    }
}