.full-width-content .entry-content>*.visual-photos-container {
    margin-bottom: 128px;
}

.visual-photos-container {

    .block-inner-container {
        .categories-grid {
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 2vw;

            .visual-photos-text-wrap {


                transform: translate(-2vw, -7vh);
                color: #fff;
                margin-bottom: -7vh !important;

                h2 {
                    color: #fff;
                    font-weight: 500;
                    margin: 0;
                }

            }
        }


        @include media("<medium") {
            .categories-grid {
                .visual-photos-text-wrap {
                    h2 {
                        font-size: 25px;
                    }

                    margin-bottom: -3vh !important;
                }
            }
        }

        @include media("<small") {
            .categories-grid {
                grid-template-columns: 100%;

                .visual-photos-text-wrap {
                    h2 {
                        font-size: 45px;
                    }
                }
            }
        }

        @include media("<my-phone") {
            .categories-grid {

                .visual-photos-text-wrap {
                    h2 {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

@include media("<medium") {
    .full-width-content .entry-content>*.visual-photos-container {
        margin-bottom: 70px;
    }
}