.full-width-content .entry-content>*.search-banner {
    padding: 5vh 0px;
}

.block-inner-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.search-banner {
    background-image: url('../images/search-banner.png');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 315px;

    .block-inner-container {
        color: #fff;
        padding: 4vh 0 !important;

        h2 {
            color: #fff;
        }

        .search-banner-buttons {
            margin-top: 40px;

            a {
                @include yellow-button;

            }

            a:last-child {
                margin-right: 20px;
            }

            @include media("<my-phone") {
                display: flex;
                flex-direction: column;
                text-align: center;

                a:last-child {
                    margin: 20px 0;
                }
            }
        }
    }

    @include media("<500px") {
        height: 100%;
    }
}