.page-template-template-videos-cat {
    @include media("<1680px") {

        h1,
        .breadcrumb {
            margin-right: 10px !important;
        }

        h1 {
            font-size: 65px;
        }
    }

    @include media("<1300px") {
        h1 {
            width: 50%;
        }
    }

    @include media("<900px") {
        h1 {
            width: 98%;
        }
    }

    @include media("<650px") {
        h1 {
            font-size: 45px;
        }
    }

    .visual-testimonies-container {
        .block-inner-container {
            .categories-grid {
                display: grid;
                grid-template-columns: 48% 48%;
                gap: 22px;

                a:hover {
                    .visual-testimonies-category {
                        transition: 500ms;
                        border-bottom: 5px solid $yellow;
                        margin-top: -14px;
                    }
                }

                a:not(:hover) {
                    transition: 500ms;
                    border-bottom: 0px solid $yellow;
                }

                .visual-testimonies-category {
                    overflow: hidden;
                    height: 424px;
                    width: 100%;
                    margin: 0 auto;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: relative;

                    .visual-text-wrap {

                        position: absolute;
                        bottom: 40px;
                        right: 41px;
                        color: #fff;

                        h2 {
                            color: #fff;
                            font-weight: 500;
                            margin: 0;
                        }


                        .visual-amount {
                            font-size: 15px;
                            line-height: 1.8;

                            .number {
                                color: $yellow;
                            }
                        }

                    }

                }


                .visual-testimonies-category:hover {


                    a {

                        img {
                            transition: 500ms;
                            border-bottom: 5px solid $yellow;
                            margin-top: -14px;
                        }

                        .visual-text-wrap {
                            h2 {
                                transition: 500ms;
                                color: $yellow;
                            }
                        }
                    }
                }

                .visual-testimonies-category:not(:hover) {
                    a {

                        img {
                            transition: 500ms;
                            border-bottom: 0px solid $yellow;
                            margin-top: 0px;
                        }

                        .visual-text-wrap {
                            h2 {
                                transition: 500ms;
                                color: unset;
                            }
                        }

                    }
                }
            }


            @include media("<medium") {
                .categories-grid {
                    .visual-text-wrap {
                        h2 {
                            font-size: 25px;
                        }
                    }
                }
            }

            @include media("<small") {
                .categories-grid {
                    grid-template-columns: 100%;

                    .visual-text-wrap {
                        h2 {
                            font-size: 45px;
                        }
                    }
                }
            }

            @include media("<my-phone") {
                .categories-grid {

                    .visual-text-wrap {
                        h2 {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}