.home-news-article-container{
    background-color:rgba(21, 20, 17, 0.1);


.home-news-inner{
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10vh 0;
}

.news-text-wrap{
    width:50%;
    padding-right: 8vw;
    line-height: 1.56;

    .news-article-summary{
        font-size: 16px;
        letter-spacing: -01px;
    }
    
  
   
    .button-container{
        margin-top: 60px;;
        }

        a:first-child{
            @include yellow-button;

        }

        a:nth-child(2){
            @include transparent-button;

        }

}

@include media("<=medium") {
    #home-news-inner{
        flex-direction: column-reverse;
    }
}
.news-image-wrap{
    width:50%;
}
}

