.page-template-template-biography {
    .biography-block {

        .flex-item {
            flex-direction: row-reverse;

            p {
                font-size: 17px;
                line-height: 1.59;
            }

            span {
                font-weight: 500;
                letter-spacing: 3.9px;
                font-size: 16px;
                border-bottom: 2px solid $yellow;
                display: inline-table;
                margin-left: 4vw;
            }
        }


    }

    .image-box:hover {
        .image-wrap {
            img {
                border-bottom: none !important;
                margin-top: 0px !important;
            }
        }
    }

    @include media("<=medium") {
        .full-width-content .entry-content>*.biography-block .block-inner-container {
            flex-direction: row-reverse;
            padding: unset;
        }
    }

    @include media("<=small") {
        .full-width-content .entry-content>*.biography-block .block-inner-container {
            flex-direction: column-reverse;
            padding: unset;

            .biography-text {
                margin-top: 3vh;
            }
        }

        .biography-block {
            @include media("<=small") {
                margin: 0 calc(50% - 50vw) !important;
            }

            .block-inner-container {
                flex-direction: column-reverse !important;
            }
        }
    }

    .biography-block {
        .flex-item {
            flex-direction: row-reverse !important;

            @include media("<=medium") {
                flex-direction: row-reverse !important;
            }

            @include media("<=small") {
                flex-direction: column-reverse !important;
            }
        }
    }
}