.tours-banner {
    background-image: url(../images/home-visual-testimonies.png);
    background-size: cover;
    margin: 0 calc(50% - 50vw) !important;
    height: 269px;

    .block-inner-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .tours-banner-text {
            font-size: 23px;
            font-weight: bold;
            line-height: 1.17;
            text-align: center;
            margin: 28px 0;
        }

        a {
            @include yellow-button;
            width: 176px;
            margin: 0 auto;
        }
    }
}