/* Typographical Elements
--------------------------------------------- */

body {
	@include base-style();
	overflow-x: hidden;
	width: 100%;
}

a {
	color: $highlight;
	text-decoration: underline;
	@extend %transition;

	&:hover {
		text-decoration: none;
	}

	svg {
		@extend %transition;
	}
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

code,
pre {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
}

code {
	padding: 2px 4px;
	white-space: nowrap;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
}

pre code {
	padding: 0;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0;
}

cite {
	font-style: normal;
}

.clearfix {
	@include clearfix;
}

/* Paragraph
--------------------------------------------- */

p {
	margin: 0 0 $base-margin;
	padding: 0;

	&.large,
	&.has-large-font-size {
		@include font-sizes(21px, 24px);
	}

	&.has-normal-font-size {
		@include font-sizes(18px, 18px);
	}

	&.small,
	&.has-small-font-size {
		font-size: 14px;
	}
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $grey_10;
	font-family: $serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 16px;

	a {
		color: $grey_10;

		&:hover {
			color: $highlight;
			text-decoration: none;
		}
	}


	&:focus {
		outline: none;
	}
}

.entry-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
}



h1 {
	@include font-sizes(50px, 65px, 84px);
	font-weight: bold;

}

h2 {
	@include font-sizes(26px, 32px, 40px);
	font-weight: bold;
}


h3 {
	@include font-sizes(22px, 26px, 28px);
}

h4,
h5,
h6 {
	@include font-sizes(12px, 16px);
}