.studying-kits-container {
    @include media('<medium') {
        margin: calc(50% - 50vw) !important;

        .block-inner-container {
            padding: 0 !important;
        }
    }

    .studying-kits-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 15px;
        row-gap: 7vh;



        .studying-kits-item:hover {
            transform: translateY(-10px);
            transition: 500ms;
            box-shadow: 1px 1px 24px -9px #000;
            z-index: 10;
        }

        .studying-kits-item:not( :hover) {
            transition: 500ms;
        }

        .studying-kits-item {
            flex-direction: row-reverse;
            justify-content: space-between;
            border: 1px solid rgba(151, 151, 151, 0.21);
            border-radius: 5px;

            @include media('<medium') {
                &:last-child {
                    margin-bottom: 70px;
                }
            }

            .studying-kits-item-text {
                width: 50%;
                padding: 24px 0 12px 20px !important;
                height: 353px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @include media('<small') {
                    height: unset;
                }

                .studying-kits-item-text-inner {
                    overflow-y: hidden;
                }

                p,
                li {
                    font-size: 15px;
                    line-height: 1.67;
                }

                li,
                .studying-kit-title,
                .studying-kit-includes {
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                .studying-kit-title,
                .studying-kit-includes {
                    font-weight: bold;
                }

                .studying-kit-features {
                    list-style: inside;
                    list-style-type: ' ←';

                }

                .studying-kit-download:hover {
                    background-color: #FFD65D;
                    transition: 500ms;

                    .studying-kit-download-inner {
                        justify-content: center;
                        transition: 500ms;
                        padding: 5px
                    }
                }

                .studying-kit-download:not(:hover) {
                    transition: 500ms;
                }

                .studying-kit-download {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.93;

                    //  padding: 15px 0 12px 20px !important;
                    .studying-kit-download-inner {
                        display: flex;
                        justify-content: flex-end;
                        transition: 500ms;

                        span {
                            margin-right: 20px;
                            transition: 500ms;

                            //background-color: $yellow;
                            //font-size: 31px;
                            //margin: 0 17px 0 0;
                            //padding: 0 11px;
                            img {
                                padding: 5px;
                                background-color: $yellow;
                                transition: 500ms;
                            }
                        }
                    }
                }

            }

            .studying-kits-item-image {
                width: 267px !important;
                height: 353px;
                overflow: hidden;
                transform: scaleY(1.05) translateY(-9px);
                box-shadow: 1px 1px 24px -9px #000;

                @include media('<small') {
                    height: unset;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    @include media("<medium") {
        .studying-kits-grid {
            display: flex;
            flex-direction: column;

            .studying-kits-item {
                margin-top: 5vh;

                .studying-kits-item-image {
                    box-shadow: none;

                }

                .studying-kits-item-text {
                    width: 68% !important;
                    padding: 24px 5vw 12px 20px !important;

                }
            }
        }
    }

    @include media("<small") {
        .studying-kits-grid {
            .studying-kits-item {
                .studying-kits-item-text {
                    width: 100% !important;

                    .studying-kits-item-text-inner {
                        padding-left: 20px;

                    }

                    p,
                    li {
                        font-size: 14px;

                    }
                }
            }
        }
    }

    @include media("<600px") {
        .studying-kits-grid {
            .studying-kits-item {
                flex-direction: column;

                .studying-kits-item-image {
                    width: 50% !important;
                    margin: 0px auto 20px;
                    height: unset;
                    transform: unset;
                }

                .studying-kits-item-text {
                    height: unset;
                    overflow-y: unset;
                }

            }
        }
    }
}