.home-article-container {
    .block-inner-container {
        padding-top: 101px !important;
    }

    .home-article-inner {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 10vh 0;
    }

    .article-text-wrap {
        width: 50%;
        padding-right: 8vw;
        line-height: 1.56;

        .article-summary {
            font-size: 16px;
            letter-spacing: -01px;
        }



        .button-container {
            margin-top: 60px;
            ;
        }

        a:first-child {
            @include yellow-button;
            padding: 9px 63.5px;
        }

        a:nth-child(2) {
            @include transparent-button;
            padding: 9px 42.5px;
        }

        @include media("<=my-phone") {
            .button-container {
                display: flex;
                justify-content: center;
            }

            a:first-child {
                padding: 9px 40px !important;
            }

        }

    }

    .flip {
        flex-direction: row;

        .article-text-wrap {
            padding-right: 0;
            padding-left: 8vw;
        }
    }

    @include media("<=medium") {
        .block-inner-container {
            padding-top: 0 !important;

            #home-article-inner {
                flex-direction: column;
            }

            .text-wrap {
                margin-top: 25px !important;
                margin-bottom: 39px !important;
            }

            .article-image-wrap {

                margin-bottom: 50px;
            }
        }
    }

    .article-image-wrap {
        width: 50%;
    }
}