 .gallery-container {
     .top-container {
         flex-direction: row-reverse;

         .gallery-image-info {
             display: flex;
             flex-direction: column;
             justify-content: space-between;
             width: 50%;

             .gallery-image-year {
                 font-weight: 500;
                 line-height: 1.5;
                 letter-spacing: 11.25px;
             }

             .gallery-image-description {
                 line-height: 1.5;
                 border-top: 2px solid $yellow;
                 padding-left: 5vw;

             }
         }

         .gallery-big-image {
             width: 50% !important;
         }
     }

     .bottom-container {

         margin-top: 3vh;

         .slick-track img {
             margin: 0 8px;
         }
     }


 }

 @include media("<medium") {

     .full-width-content .entry-content>*.gallery-container {
         .bottom-container {

             .slick-slide {
                 margin: 0 4px;
             }
         }

         .block-inner-container {
             div {
                 width: unset;
             }

             .gallery-image-info {
                 width: 50%;

                 .gallery-image-description {
                     font-size: 15px;
                 }
             }

         }
     }

 }

 @include media("<small") {
     .gallery-container {
         .block-inner-container {
             width: 100% !important;

             .bottom-container {
                 .slick-arrow {
                     display: none !important;
                 }

                 .slick-slide {
                     max-width: 200px;
                     height: 200px;
                     display: flex;
                     flex-direction: column;
                     justify-content: center;

                     @include media("<650px") {
                         max-width: 150px;
                         height: 170px;
                     }
                 }
             }

             .top-container {
                 flex-direction: column-reverse;
                 padding: 60px !important;

                 @include media("<650px") {
                     padding: 20px !important;
                 }

                 .gallery-big-image {
                     width: unset !important;
                 }
             }
         }
     }

     .full-width-content .entry-content>*.gallery-container {


         .block-inner-container {
             .gallery-image-info {
                 width: unset;
             }


         }
     }
 }