.external-sites-container {
    h3 {
        font-size: 32px;
        font-weight: bold;
        line-height: 0.84;
    }

    .bottom-line {
        width: 83px;
        height: 6px;
        background-color: #ffd65d;
        margin-bottom: 4vh;
    }

    .sites-grid {
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        gap: 25px;

        .site-wrap {
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;

            img {
                max-width: 226px;
                max-height: 171px;
                filter: grayscale(1);
                margin: 0 auto;
            }

            .site-title {
                margin: 0 auto;
                font-size: 17px;
                font-weight: 500;
                line-height: 2.24;
                text-align: center;
            }
        }

        .site-wrap:hover {
            img {
                transition: 500ms;
                ;
                filter: unset;
            }

        }

        .site-wrap:not(:hover) {
            img {
                transition: 500ms;
            }

        }
    }

    @include media('<1100px') {
        .sites-grid {
            gap: 5px;
        }
    }

    @include media('<medium') {
        .block-inner-container {
            margin: 0 auto !important;

            .sites-grid {
                grid-template-columns: 32% 32% 32%;

                gap: 15px;

                .site-wrap {
                    img {
                        max-width: 179px;
                        max-height: unset;
                    }
                }
            }
        }
    }

    @include media('<small') {
        .block-inner-container {
            .sites-grid {
                grid-template-columns: 49% 49%;
                gap: 12px;

                .site-wrap {
                    margin-bottom: 21px;
                    justify-content: center;

                    img {
                        max-width: unset;
                        max-height: unset;
                    }
                }
            }
        }
    }
}