.news-small-article-container {
    .block-inner-container {
        margin: 0 auto !important;

        .articles-inner-wrap {
            display: flex;
            transition: 300ms;


            .news-box-article {
                background-color: $my-gray;
                margin: 23px 15px;
                width: 300px;
                max-width: 270px;

                .news-box-link {
                    display: flex;
                    flex-direction: column;
                    height: 100%;

                    .article-text-wrap {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;



                        .article-title {
                            font-weight: 500;
                            line-height: 1.56;
                            padding: 15px 15px 0;
                        }

                        .read-more {
                            margin-right: 15px;
                            font-size: 16px;
                            font-weight: bold;
                        }


                    }

                    .article-image {
                        display: flex;
                        justify-content: center;

                    }


                }

            }

            .news-box-article:hover {


                .article-text-wrap {
                    .read-more {
                        text-decoration: underline;
                    }
                }


                .article-image {
                    transition: 500ms;

                    img {
                        border-bottom: 7px solid $yellow;
                        margin-top: -7px;
                        transition: 500ms;
                    }
                }


            }

            .news-box-article:not(:hover) {


                .article-image {
                    transition: 500ms;

                    img {
                        border-bottom: 0px solid $yellow;
                        transition: 500ms;
                    }
                }
            }
        }




        @include media("<medium") {
            .articles-inner-wrap {
                display: grid;
                grid-template-columns: 50% 50%;
                gap: 10px;

                .news-box-article {
                    margin: 0;
                    margin-top: 25px;
                    max-width: unset;
                }
            }
        }

        @include media("<my-phone") {
            .articles-inner-wrap {
                display: grid;
                grid-template-columns: 100%;
                gap: 10px;

            }
        }

        .button-wrap {
            display: flex;

            .load-more-news {
                @include yellow-button;
                width: 176px;
                text-align: center;
                margin: 50px auto;
            }
        }

    }
}