.home-future-museum {
    background-position-y: top;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;

    .block-inner-container {
        flex-direction: row-reverse;
        padding: 8vh 0;

        @include media("<medium") {
            flex-direction: column-reverse;

            .text-wrap {
                width: 100%;
                padding: 0;
                margin-bottom: 38px;
            }

            .top-div-image {
                img {
                    margin: 0 auto;
                }
            }
        }
    }

    a {
        margin-top: 1vh;
        @include yellow-button;
    }

    .top-div-text {
        width: 61%;
        padding: 96px 0 0 114px;
    }

    .top-div-description {
        font-size: 18px;
        line-height: 1.56;
    }
}