.home-exhibition-inner{
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10vh 0;
}

.exhibition-text-wrap{
    width:50%;
    padding-left: 8vw;
    line-height: 1.56;
}
.exhibition-text-wrap .exhibition-article-summary{
    font-size: 16px;
    letter-spacing: -01px;
}

.exhibition-text-wrap .exhibition-pre-title{
    @include pre-title;
}
.exhibition-text-wrap a{
    @include yellow-button;
}
.exhibition-text-wrap  .button-container{
margin-top: 60px;
}

.exhibition-text-wrap  a:nth-child(2){
    @include transparent-button;
}
.exhibition-image-wrap{
    width:50%;
}
