.home-testimonies-inner {
    width: 1420px;
    padding: 58px 0 140px 0;
    margin: 0 auto;
}

.home-testimonies-container {
    background-image: url(../images/home-visual-testimonies.png);
    background-size: cover;
    margin: 0 calc(50% - 50vw) !important;

    .home-testimonies-images {
        .home-testimony-item {
            width: 100%;
            height: 271px;
            margin: 7px 7px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            .testimony-image-wrap {
                height: 271px;
                overflow-y: hidden;

                img {
                    filter: brightness(0.5);
                }
            }
        }
    }

    .testimony-text-wrap {
        width: 100%;
        // max-width: 350px;
        opacity: 0;
        transform: translateY(-100%);
        background-color: $yellow;
        padding: 27px 20px;

        .testimony-from {
            font-size: 12px;
            letter-spacing: 2.93px;
            margin-bottom: 10px;
        }

        .testimonies-title {
            font-size: 18px;
            font-weight: bold;
            line-height: 1.03;
        }

        .testimonies-title:hover {
            a {
                text-decoration: underline;
            }
        }
    }

    .home-testimony-item:hover {
        .testimony-text-wrap {
            opacity: 1;
            transition: 500ms;
        }

    }

    .home-testimony-item:not(:hover) {
        .testimony-text-wrap {
            opacity: 0;
            transition: 500ms;
        }

    }
}

@include media("<1480px") {
    .home-testimonies-inner {
        width: 100%;
        padding: 7vh 20px;
    }
}

@include media("<medium") {
    .home-testimonies-inner {
        width: 100%;
        padding: 7vh 20px;
        margin: 0 auto;
    }

    .home-testimonies-container .home-testimonies-images .home-testimony-item {
        margin: 20px auto;
    }



    #home-testimonies-images {
        display: grid;
        grid-template-columns: 49% 49%;
        /*   margin-right: 5vw;
        align-items: center;
        align-content: center; */
    }

    .home-testimonies-text {

        .home-testimonies-buttons a {
            padding: 9px 23px;
        }
    }
}

@include media("<870px") {
    #home-testimonies-images {
        // margin-right: 2vw;
    }

    .home-testimonies-text .home-testimonies-inner-text {
        font-size: 15px;
    }

    .home-testimony-item img {
        width: 41vw;
    }

    .home-testimonies-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }
}



.home-testimonies-text {
    a:first-child {
        @include transparent-button;

    }

    a:nth-child(2) {
        @include yellow-button;
        margin-right: 20px;
    }

    .home-testimonies-inner-text {
        font-size: 19px;
        font-weight: 500;
        line-height: 1.5;
        width: 54%;
    }

}

.home-testimonies-images,
.home-testimonies-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
}


.home-testimony-item img {
    width: 350px;
    height: 100%;
}



.block-container.alignfull.home-testimonies-container {
    margin: 0 calc(50% - 50vw);
    padding: 7.5vh;
}

@include media("<small") {
    .home-testimony-item {
        overflow: hidden;

    }

    .home-testimonies-text .home-testimonies-inner-text {
        font-size: 16px;
    }

    .home-testimonies-buttons a:first-child {
        margin-bottom: 10px;
    }
}

@include media("<600px") {


    #home-testimonies-images {
        grid-template-columns: 100%;
    }

    .home-testimonies-container .home-testimonies-images .home-testimony-item {
        margin: 9px auto;
    }

    .home-testimonies-text {
        font-size: 16px;
        flex-direction: column;

        .home-testimonies-inner-text {
            width: 100%;
        }

        .home-testimonies-buttons a {
            margin-right: 0;
            text-align: center;
        }
    }


}