.staff-main-title {
    display: inline-block;
    margin-top: 87px !important;
    font-size: 45px !important;
    font-weight: bold;
    background-color: $yellow;
}

.staff-bottom {
    background-image: url('../images/staff.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 calc(50% - 50vw) !important;

    strong {
        border-bottom: 5px solid $yellow;
    }
}

.staff-top {
    width: 76%;
    margin: 0;

    p {
        margin: 0;
    }
}