.page-template-template-memorial {
    .header-button {
        @include yellow-button;
        margin-right: 108px;
    }

    @include media('<medium') {
        .header-button {
            margin-right: 35px;
        }
    }

    @include media('<small') {
        .header-button {
            margin-right: 10px;
        }
    }
}

.memorial-container {
    .block-inner-container {
        margin: 0 auto !important;

        .memorial-grid {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            gap: 22px;

            .memorial-item {
                background-image: url('../images/memorial-bg.jpg');
                background-position: center;
                background-size: cover;
                color: #fff;
                text-align: center;
                padding: 4vh 4vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .memorial-header {
                    font-size: 24px;
                    letter-spacing: 6px;
                    font-weight: 300;
                }

                .memorial-sub-header {
                    font-size: 12.8px;
                    line-height: 2;
                    letter-spacing: 0.75px;
                }

                .memorial-main-text {
                    font-size: 16px;
                    line-height: 1.4;
                    letter-spacing: 0.3px;
                    margin: 3vh;
                }

                .memorial-credit {
                    font-size: 12.8px;
                    line-height: 2;
                    letter-spacing: 0.75px;
                    color: $yellow;
                }

                .memorial-footer {
                    line-height: 2;
                    letter-spacing: 8px;
                    font-size: 12.8px;

                }


            }
        }

        @include media("<=medium") {

            .memorial-grid {
                grid-template-columns: 50% 50%;

                .memorial-item {
                    padding: 4vh 4vw !important;

                    .memorial-header {
                        font-size: 18px;
                    }
                }


            }

        }

        @include media("<=600px") {
            .memorial-grid {
                grid-template-columns: 100%;
            }
        }
    }


}