.full-width-content .entry-content>*.exhibitions-banner {
    margin: 0 calc(50% - 50vw);
    padding: 8vh 0px;
    margin-top: -40px;
}

.exhibitions-banner {
    background-color: $my-gray;

    .block-inner-container {
        flex-direction: row-reverse;
        justify-content: space-between;

        .exhibitions-banner-image-wrap {
            position: relative;

            /*      &:before {
                content: '';
                position: absolute;
                bottom: -10%;
                left: -10%;
                width: 40%;
                height: 40%;
                border: 4px solid $yellow;
            } */
        }

        .exhibitions-banner-text-wrap {
            padding-top: 5vh;
            margin-right: 205px;

            a {
                @include yellow-button;
            }



            .exhibitions-text {
                font-weight: 500;
                line-height: 1.56;
                padding-left: 15px
            }
        }

        @include media("<medium") {
            .exhibitions-banner-image-wrap {
                margin-top: 9vh;
            }

            .exhibitions-banner-text-wrap {
                margin-right: 0;
            }
        }
    }
}

.page-template-template-photo-archive {
    .exhibitions-banner {
        margin-top: 73px !important;
    }
}