.full-width-content .entry-content>*.contact-us-container .block-inner-container {
    max-width: 1500px;
    width: 100%;
    padding-top: 0;
}

@include media("<=1560px") {
    .full-width-content .entry-content>*.contact-us-container .block-inner-container {
        width: 90%;
    }
}

.contact-us-container {
    margin-bottom: 140px !important;

    .flex-item {
        flex-direction: row-reverse;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        .contact-us-text {
            width: 975px;
            z-index: 1;

            &:after {
                content: '';
                background-image: linear-gradient(92deg, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0.88) 100%, #000 100%);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                z-index: -1;
            }

            .contact-us-text-border {
                margin: 26px 26px 26px 0;
                height: calc(100% - 26px - 26px);


                .contact-us-text-inner {
                    height: 100%;
                    border-top: 5px solid $yellow;
                    border-bottom: 5px solid $yellow;
                    border-right: 5px solid $yellow;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-right: 78px;

                    .right-box-title {
                        font-size: 40px;
                        font-weight: bold;
                        color: #fff;
                    }

                    .right-box-description {
                        font-weight: 500;
                        color: #fff;
                        line-height: 1.56;
                        width: 528px
                    }

                    .read-more-button {
                        @include yellow-button;
                        width: 176px
                    }
                }

                @include media("<=1250px") {
                    .contact-us-text-inner {
                        padding-right: 16px;

                        .right-box-description {
                            width: 90%;
                        }
                    }
                }
            }
        }

        .contact-us-form {
            background-color: #eceded;
            padding: 0 26px 56px;
            transform: scale(1.05);
            z-index: 2;

            input::placeholder,
            textarea::placeholder {
                color: #000;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.56;
            }

            .contact-us-title {
                font-size: 30px;
                font-weight: bold;
                margin-top: 86px;


            }

            .contact-us-sub-title {
                font-size: 16px;
                line-height: 1.56;
            }

            label {
                display: none !important;
            }

            .gform_wrapper .top_label input.medium,
            .gform_wrapper .top_label select.medium {
                width: 100%;
                border-radius: unset;
            }


            .gform_wrapper .gform_footer input.button,
            html[dir=rtl] .gform_wrapper .gform_footer input[type=submit] {
                background-color: #4a4a4a;
                color: #fff;
                width: 100%;
                border: none;
                text-align: center !important;
                border-radius: unset;
                font-size: 16px;
                font-weight: bold;
                line-height: 1.56;
            }

            .gform_wrapper .gform_footer {
                padding: 0;
                margin: 0;
            }

            li.gfield {
                padding-left: 0 !important;
            }

            li {
                margin: 0 !important;
            }

            .gfield_description {
                padding: 0 !important;
            }

            .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
                max-width: 100% !important;
            }

            .gform_wrapper ul.gform_fields li.gfield.gfield_error {
                padding-right: 0 !important;
            }


        }

        .gform_wrapper .top_label div.ginput_container {
            margin-top: 0;
        }

        .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
            border: none;
        }

        .gform_wrapper textarea {
            border: none;
        }
    }


}

@include media("<=medium") {
    .full-width-content .entry-content>*.contact-us-container .block-inner-container {
        flex-direction: column-reverse;
        padding: 0;
        margin-bottom: 90px;

        .contact-us-text {
            padding-left: 52px;
            height: 380px;

            .contact-us-text-border {
                margin: 26px 26px 0 26px;
                height: 100%;

                .contact-us-text-inner {
                    border-bottom: none;
                    border-left: 5px solid $yellow;
                }
            }
        }

        .contact-us-form {
            transform: none;
            padding: 30px;

            .contact-us-title {
                margin-top: 0;
            }

            .gform_footer {
                img {
                    width: 30px;
                    height: 20px;
                    margin: 0 auto;
                }
            }
        }
    }
}