.page-template-template-tours {
    .entry-header {

        margin-bottom: 40px;

        @include media('<1450px') {
            margin-bottom: 0;

        }

        .header-background {
            width: calc(41% + 110px) !important;
        }

        &:after {
            width: calc(59% + 0px) !important;
        }
    }

    .header-button {
        @include yellow-button;
        margin-top: 20px;
    }

    .entry-header-text-wrap {
        margin-right: 40px;
        margin-bottom: 20px;

        .breadcrumb {
            margin: 0;
        }

        p {
            line-height: 1.67;
            letter-spacing: -0.2px;
            margin-bottom: 20px;
            width: 53vw;
        }


        h1 {
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    @include media('<1450px') {
        .entry-header-text-wrap {
            margin-right: 20px;
            margin-bottom: 5px;

            .breadcrumb {
                margin-bottom: -13px;
            }

            h1 {
                font-size: 60px;
            }
        }

        .header-button {
            margin-right: 20px;
        }
    }

    @include media('<1200px') {
        .entry-header {
            h1 {
                font-size: 50px;
            }

            height: 270px;

            .header-content-wrap {
                p {
                    font-size: 15px;
                    line-height: 1.5;
                }
            }
        }
    }

    @include media('<medium') {
        .entry-header {
            .header-content-wrap {
                a {
                    display: none;
                }
            }
        }
    }

    @include media('<900px') {
        .entry-header {
            .header-content-wrap {
                a {
                    position: initial;
                    margin-right: 0;
                    display: initial;
                }
            }

            .header-background {
                width: 100% !important;
            }

            .header-content-wrap {
                text-align: center;

                p {
                    text-align: right;
                    width: 95%;
                }
            }
        }
    }

    @include media('<small') {
        .entry-header {
            justify-content: flex-start;

            h1 {
                font-size: 50px;
            }
        }
    }

    @include media('<540px') {
        .entry-header {
            .header-content-wrap {
                a {
                    display: none;
                }

                p {
                    line-height: 1.5;
                    margin-bottom: 0;
                }
            }


        }
    }
}

/* .entry-content {

    p:first-child,
    p:nth-child(2),
    p:nth-child(3) {
        display: none;
    }

} */

.tours-container {
    margin: 0 calc(50% - 50vw) !important;

    .top-container {
        flex-direction: row-reverse;
        justify-content: space-between;

        .gallery-image-info {
            width: 40%;

            .gallery-image-year {
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 11.25px;
            }


            h2 {
                margin: 0;
            }


            .tours-date {
                font-weight: bold;
                font-size: 16px;
                line-height: 1.75;
            }

            .tours-content {
                font-size: 16px;
            }

            .text-wrap p:nth-child(3) {
                font-size: 16px;
            }
        }

        .gallery-big-image {
            width: 50% !important;
            max-height: 480px;

            video {
                width: 100%;
            }
        }
    }

    .bottom-container {

        margin-top: 3vh;

        width: 100%;
        // margin: 0 auto;

        .slick-arrow {
            height: 55px;
            background-color: $yellow;
            border-color: $yellow;
            color: #000;
            position: absolute;
            top: 0;
            bottom: 37px;
            margin: auto;
            width: 55px;
            z-index: 10;
            cursor: pointer;
            font-size: 26px;
        }

        .slick-prev {
            left: -1.9vw;
        }

        .slick-next {
            right: -1.9vw;
        }
    }

    .mobile-title-box {
        text-align: center;
        width: 70% !important;
        margin: 25px auto;
        display: none;
    }

    .slick-track img {
        margin: 0 8px;
    }

    .slider-item {
        margin: 0 5px;

        img {
            margin: 0 auto;
            width: 100%;
            max-height: 230px
        }

        .slider-title-wrap {
            font-size: 17px;
            font-weight: 500;
            line-height: 1.59;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 7px;
            transform: translateY(-100%);
            color: #fff;
            backdrop-filter: blur(4px);
        }
    }

    .slider-item:hover {
        .slider-title-wrap {
            transition: 500ms;
            background-color: $yellow;
            color: #000;

        }
    }

    .slider-item:not(:hover) {
        .slider-title-wrap {
            transition: 500ms;
            background-color: $yellow;
            color: #000;

        }
    }
}

@include media("<medium") {

    .full-width-content .entry-content>*.tours-container {
        .bottom-container {

            .slick-slide {
                margin: 0 4px;
            }
        }

        .block-inner-container {
            div {
                width: unset;

                img {
                    width: unset;
                }
            }

            .gallery-image-info {
                width: 50%;

                .text-wrap {
                    h2 {
                        font-size: 30px;
                    }

                    .tours-date {
                        font-size: 16px;
                    }

                    .tours-content {
                        p {
                            font-size: 15px;
                        }
                    }
                }
            }

        }
    }

}

@include media("<small") {
    .tours-container {
        .top-container {
            flex-direction: column-reverse;

            .gallery-big-image {
                width: unset !important;
            }
        }

        .mobile-title-box {
            display: block;
        }

        .bottom-container {
            .slick-arrow {
                bottom: -173px !important;
            }

            .slider-item {
                width: 184px !important;

                .slider-title-wrap {
                    display: none;
                }
            }
        }
    }

    .full-width-content .entry-content>*.tours-container {
        .block-inner-container {
            margin: 0 auto;

            .gallery-image-info {
                width: 100%;
            }

        }
    }
}