.single-exhibition {
  .entry-header::after {
    background-image: url('../images/exhibitions-bg.png') !important;
  }

  h1 {
    color: #b3b3b3;
  }

  .breadcrumb {
    color: #fcfdff !important;
  }

  .site-inner {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0.5)), linear-gradient(to bottom, #4a4a4a, #4a4a4a);
    color: #fff;
    ;
  }

  .entry-content {
    p:first-child {
      padding: 0 10px
    }
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 10px;
    margin-bottom: 50px;

    .item {
      padding: 1rem;
      background-image: linear-gradient(to bottom, #424242 50%, #000000 179%, #000000 179%);
      color: #fff;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
    }

    .story {
      background-color: rgba(0, 0, 0, 0.8);
      background-blend-mode: color;
    }

    .story,
    .document {
      border: 2px solid $yellow;

      p {
        font-size: 16px;
      }

      h5 {
        color: $yellow;
        font-size: 22px;
      }

      span {
        position: absolute;
        bottom: 8px;
        left: 10px;
      }


    }

    .image h5 {
      font-size: 30px;
      font-weight: bold;
      color: #ffffff;
      text-shadow: 1px 1px 5px #000, 1px 1px 5px #000, 1px 1px 5px #000, 1px 1px 5px #000;
      position: absolute;
      bottom: 0;
      right: 15px;
    }

    .video,
    .testimony {
      background-color: rgba(0, 0, 0, 0.5);
      background-blend-mode: color;

      img.play-logo {
        width: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        filter: grayscale(1);
      }

      &:hover {
        img.play-logo {
          transition: 500ms;
          filter: none;
        }
      }

      h5 {
        font-size: 30px;
        font-weight: bold;
        color: $yellow;
        position: absolute;
        bottom: 0;
        right: 15px;


      }

      &:after {
        content: '';
        background-image: url('../images/play.png');
        position: absolute;
        top: 0;
      }
    }

    .span-row-2 {
      grid-row-end: span 2;
    }

    .span-row-3 {
      grid-row-end: span 3;
    }

    .span-col-2 {
      grid-column-end: span 2;

    }

    .span-col-3 {
      grid-column-end: span 3;

    }


  }

  .exhibitions-modal {
    background-image: linear-gradient(to bottom, #424242 50%, #000000 179%, #000000 179%);
    color: white;
    text-align: right;
    max-width: 945px;
    border: 1px solid $yellow;

    .image-modal-title {
      font-size: 30px;
      font-weight: bold;
      color: #FFD65D;
      text-align: center;
    }

    @include media('<medium') {
      padding: 44px 10px;
    }

    @include media('<small') {
      font-size: 14px;
    }

    @include media('<my-phone') {
      line-height: 1.2;
    }

    h5 {
      color: $yellow;
      font-size: 30px;
    }
  }
}