/* Navigation
---------------------------------------------------------------------------------------------------- */

.nav-menu {
	& > * {
		line-height: 0;
	}

	ul {
		clear: both;
		line-height: 1;
		margin: 0;
		width: 100%;
		& > li {
			position: static;
		}
	}

	.menu-item {
		list-style: none;
		margin: 10px 0;
		/* padding-right: 30px; */
		[lang="en-US"] & {
			padding-right: unset;
			/* padding-left: 30px; */
		}
		a {
			border: none;
			color: $base-color;
			display: inline;
			font-size: 18px;
			font-weight: bold;
			line-height: 22px;
			/* padding: 13px 20px; */
			position: relative;
			text-decoration: none;
			margin: 0 21px;
			white-space: nowrap;
		}

		&:hover > a {
			//background: $yellow;
			color: #9c9c9c !important;
		}

		&.current-menu-item > a,
		&.current-menu-ancestor > a {
			color: $yellow;

			@include media("<small") {
				//	margin-right: -17px;
			}
		}
	}

	.submenu-expand {
		@include button-reset;
		//position: absolute;
		line-height: 0;
		top: 50%;
		/* transform: translateY(-50%); */
		left: 7px;
		margin-right: -14px;
		[lang="en-US"] & {
			margin-right: 0;
		}
		svg {
			fill: $grey_7;
		}
	}

	.nav-secondary {
		.menu-item.search {
			@include media("<=mobile_menu") {
				padding: 4px 16px 16px;
			}

			@include media(">mobile_menu") {
				margin: 5px 0 0 8px;

				.search-field {
					padding-top: 8px;
					padding-bottom: 8px;
					width: 268px;
				}
			}
		}
	}

	.nav-primary {
		.menu-item.search {
			line-height: 0;

			button {
				padding: 12px;
			}

			@include media("<=mobile_menu") {
				display: none;
			}
		}
	}

	@include media(">mobile_menu") {
		float: right;
		width: calc(100% - #{$menu_width});
		display: flex;
		justify-content: space-between;
		margin-top: 50px;

		.nav-primary,
		.nav-secondary {
			display: flex;
			justify-content: flex-end;
		}

		.nav-primary + .nav-secondary {
			margin-bottom: 16px;
		}

		.menu {
			display: flex;
			width: 100%;

			#menu-item-243 {
				float: left;
				background-color: $yellow;

				a {
					padding: 13px 35px;
				}
			}
		}

		.menu-item {
			float: right;
			/*float: left;*/
			position: initial;
			/* display: contents; */

			&:hover {
				& > .mega-menu-wrap {
					left: auto;
					opacity: 1;
					width: 100vw;
					right: 0;
					display: flex;
					height: 275px;

					.sub-menu {
						display: grid;
						grid-template-columns: 260px 260px 260px;
						grid-template-rows: 14% 14% 14%;
						row-gap: 39px;
						padding: 49px 186px 88px 0;
						background-color: #f5f5f5;
						border: 1px solid #e8e8e8;
						[lang="en-US"] & {
							padding: 49px 0 88px 186px;
						}
						@include media("<1500px") {
							padding: 49px 30px 88px 0;
						}

						@include media("<1120px") {
							grid-template-columns: 200px 200px 200px;
						}

						@include media("<940px") {
							grid-template-columns: 33% 33% 33%;
						}

						.menu-item {
							display: block;

							a {
								//display: inline-block !important;
								padding: 0 !important;
								height: 62%;
								margin: 0;
							}
						}
					}

					.contact-header {
						background: #000;
						width: 675px;
						padding: 39px 0 39px 59px;
						color: #fff;

						@include media("<1170px") {
							padding: 39px 20px 39px 0;
						}

						@include media("<940px") {
							display: none;
						}

						.contact-details-box {
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							height: 100%;
							line-height: 1.6;
							padding-right: 10px;
							.buttons{
								display: flex;
								justify-content: space-between;
							}
							.bottom-details {
								span {
									font-weight: bold !important;
								}
							}

							a {
								margin: 0;
								background-color: $yellow;
								background-color: #ffd65d;
								width: 172px;
								text-align: center;
								padding: 13px 20px;
							}
						}
					}
				}
			}
		}

		.mega-menu-wrap {
			//left: -9999px;
			opacity: 0;
			position: absolute;
			width: 215px;
			z-index: 99;
			display: none;

			.sub-menu {
				background: #fff;

				.menu-item {
					float: none;

					&:hover > a {
						background: $yellow;
					}
				}

				.sub-menu {
					margin: -48px 0 0 215px;
				}
			}
		}
	}

	@include media("<=mobile_menu") {
		display: none;

		.contact-header {
			display: none;
		}

		&.active {
			background: $grey_3;
			border-top: 1px solid $border-color;
			display: block;
			margin: 0 -48px;
			max-width: calc(100% + 96px);
		}

		.menu > .menu-item > a {
			padding: 11px 18px;
			text-decoration: underline $yellow !important;
		}

		.submenu-expand {
			top: 0;
			right: 0;
			transform: none;
			@include icon-position(44px);

			svg {
				@include icon-position(12px);
			}

			&:not(.expanded) {
				transform: rotate(180deg);
			}

			&.expanded {
				& + .mega-menu-wrap {
					.sub-menu {
						display: block;
						padding-bottom: 15px;

						li {
							margin: 15px 0;

							a {
								padding: 5px 20px;
								text-decoration: none !important;
							}
						}

						li:first-child {
							margin: 7px 0 10px 0;
						}

						li:last-child {
							margin: 10px 0 0 0;
						}
					}
				}
			}
		}

		.sub-menu {
			display: none;
			padding-left: 8px;
		}
	}
}

/* Toggles
--------------------------------------------- */

.search-toggle,
.menu-toggle {
	@include button-reset;
	line-height: 0;
	text-align: center;

	.close {
		display: none;
	}

	&:hover,
	&.active {
		background: $grey_3;
	}

	&.active {
		.close {
			display: inline;
		}

		.open {
			display: none;
		}
	}
}

.site-header .wrap {
	@include media("<=mobile_menu") {
		padding: 0 48px;
	}

	& > .menu-toggle,
	& > .search-toggle {
		position: absolute;
		top: 0;
		width: 48px;
		height: 48px;

		@include media(">mobile_menu") {
			display: none;
		}
	}

	& > .menu-toggle {
		left: 0;
	}

	& > .search-toggle {
		right: 0;
	}
}

/* Header Search
--------------------------------------------- */

.header-search {
	background: $grey_3;
	overflow: hidden;
	padding: 16px;
	width: 100%;

	@include media(">=tablet") {
		position: absolute;
		bottom: -82px;
		right: 0;

		.search-form {
			margin: 0 auto;
		}
	}

	@include media("<=mobile_menu") {
		margin: 0 -48px;
		width: calc(100% + 96px);
	}

	&:not(.active) {
		display: none;
	}
}
.navbar-images {
	display: flex;
	gap: 10px;
	top: 0;
	left: 0;
	@include media("<=mobile_menu") {
		justify-content: center;
		gap: 5px;
	}
	img {
		height: 50px;
		@include media("<=mobile_menu") {
			width: 33vw;
		}
	}
}
