/* Post Summary
---------------------------------------------------------------------------------------------------- */

.post-summary {
	margin-bottom: $grid-gap;
}

.post-summary__title {
	font-size: 18px;
	font-weight: 400;
	margin: 0;

	a {
		color: $grey_10;
		text-decoration: none;

		&:hover {
			color: $yellow;
		}
	}
}

.post-summary__image {
	display: block;

	@include media(">small") {
		margin-bottom: 12px;
	}
}

.entry-category {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 4px;

	a {
		color: $grey_8;
		text-decoration: none;

		&:hover {
			color: $highlight;
		}
	}
}