/* Singular
---------------------------------------------------------------------------------------------------- */

/* Entry Content
--------------------------------------------- */
a.nav-button {
	padding: 9px 45px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	background: $yellow;
	width: 176px;
	float: left;
	text-align: center;
	margin-top: -40px;
	margin-left: 19px;

	@include media("<medium") {
		width: 79px;
		padding: 9px 9px;
	}

	@include media("<880px") {
		display: none;
	}
}

.entry-content {
	@import "entry-content";
}

.ceo-text {
	font-size: 16px;
	line-height: 1.75;
}

.archive-page {
	p {
		font-size: 20px;
		line-height: 1.45;
	}

	a {
		margin-top: 33px;
	}
}

.margin-top-50 {
	margin-top: 50px;
}

.yellow-bg {
	background: $yellow;
	display: inline-block;
}

.entry-content>*,
.block-area>* {

	margin: $block-margin 0;
	max-width: 100%;

	&:first-child {
		margin-top: 20px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.full-width-content &,
	.content & {
		&.alignwide {
			margin: calc(2 * #{$block-margin}) calc(50% - 50vw);
			max-width: 100vw;
			width: auto;

			@include media(">=tablet") {
				margin: calc(2 * #{$block-margin}) calc(25% - 25vw);
			}
		}

		&.alignfull {
			margin: calc(2 * #{$block-margin}) calc(50% - 50vw);
			max-width: 100vw;
			width: 100vw;
		}

		&.blockfull {
			margin: calc(2 * #{$block-margin}) calc(50% - 50vw);
			max-width: 100vw;
			width: 100vw;

			.block-inner-container {
				width: 90%;
				max-width: 1200px;
				margin: 0 auto;
				padding-top: 2vh;

			}

			@include media("<=medium") {
				.block-inner-container {
					flex-direction: column;
					padding: 4vh 0;
					//	margin: 0 3vw;


					.wp-block-image {
						margin-right: 0;
					}

					div {
						width: 100%;
						padding: 0;

						img {
							width: 100%;

						}
					}

					.text-wrap {
						margin-top: 25px;
					}

					p {
						font-size: 20px;
					}

				}
			}

			@include media("<=my-phone") {
				p {
					font-size: 16px !important;
				}

				.button-container a {
					padding: 9px 19px;
				}


			}

			@include media("<=phone") {
				p {
					font-size: 14px !important;
				}

				.button-container a {
					padding: 9px 19px;
				}
			}
		}
	}


	&.alignleft {
		/*rtl:ignore*/
		float: left;
		margin: 0 $block-margin $block-margin 0;
	}

	&.alignright {
		/*rtl:ignore*/
		float: right;
		margin: 0 0 $block-margin $block-margin;
	}

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

	&.wp-block-quote,
	&.post-listing-block {
		margin-top: calc(2 * #{$block-margin});
		margin-bottom: calc(2 * #{$block-margin});
	}

	&.wp-block-search {
		max-width: 568px;
		margin-left: auto;
		margin-right: auto;
	}

}

.entry-content>.alignfull {

	&:first-child {
		margin-top: -36px;

		@include media(">=tablet") {
			margin-top: -48px;
		}
	}

	&:last-child {
		margin-bottom: -36px;

		@include media(">=tablet") {
			margin-bottom: -48px;
		}
	}

}

/* Entry Meta
--------------------------------------------- */

.entry-author {
	font-size: 14px;

	.avatar {
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;
		margin-right: 4px;
	}

	a {
		color: $base-color;
		text-decoration: none;

		&:hover {
			color: $highlight;
		}
	}
}

.breadcrumb {
	font-size: 16px;
	margin-bottom: 24px;

	a {
		color: $base-color;

		&:hover {
			color: $highlight;
		}
	}

	.single & {
		border-top: 1px solid $border-color;
		padding-top: 32px;
		//text-align: center;
	}
}

.author-box {
	position: relative;
	padding-left: 120px;
	min-height: 120px;

	.archive & {
		grid-column: 1 / -1;
		max-width: $content-width;
		margin: 0 auto $grid-gap;
	}

	.author-box-title {
		@include font-sizes(22px, 28px);
	}

	.avatar {
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

/* Single Post
--------------------------------------------- */


.singular {

	.entry-header {
		margin-bottom: 18px;
		position: relative;
		background: $yellow;
		z-index: 1;
		height: 25vw;

		h1 {
			margin-right: 108px;
			z-index: 8;
		}

		.breadcrumb {
			font-size: 16px;
			font-weight: bold;
			margin-right: 108px;
			z-index: 20;
			border: none;
			margin-bottom: 0;
			color: #6d7278;

			span:last-child {
				color: #000;
			}

			.sep {
				color: $yellow !important;
			}
		}

		@include media("<1300px") {
			h1 {
				margin-right: 35px;
			}

			.breadcrumb {
				margin-right: 35px;
			}
		}

		@include media("<small") {
			h1 {
				margin-right: 10px;
			}

			.breadcrumb {
				margin-right: 10px;
			}
		}

		@include media(">=tablet") {
			margin-bottom: 0;
			overflow: hidden;
			width: 100vw;
			margin-right: calc(50% - 50vw);

			.entry-author {
				float: left;
				margin: 0;
			}

			.shared-counts-wrap {
				float: right;
			}
		}

		.header-background {
			position: absolute;
			background-size: cover;
			background-position: center;
			width: calc(44% + 110px);
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			clip-path: polygon(0 0, 100% 0, calc(100% - 116px) 100%, 0% 100%);

		}


		&:after {
			content: '';
			position: absolute;
			background-image: url('../images/default-header.jpg');
			background-size: cover;
			background-position: center;
			width: calc(56% + 0px);
			height: 100%;
			top: 0;
			right: 0;
			z-index: -2;
			clip-path: polygon(116px 0, 100% 0, 100% 100%, 0% 100%);
		}


		*:last-child {
			margin-bottom: 0;
		}
	}

	@include media('<900px') {
		.entry-header {
			height: 200px;
			background: none;

			&:after {
				display: none;
			}

			.header-background {
				clip-path: none;
				width: 100%;
				opacity: 0.3;
			}
		}

	}
}

.after-entry {

	&>* {
		margin: 24px 0;

		@include media(">=tablet") {
			margin: 42px 0;
		}
	}

	.publish-date {
		font-size: 16px;
		text-align: center;
	}
}

.related-posts {
	@supports(display: $grid) {
		@include media(">=tablet") {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-column-gap: 16px;

			header {
				grid-column: 1 / -1;
			}
		}
	}
}

/* Comments
--------------------------------------------- */

.entry-comments {

	.comment-list {
		margin: 0 0 $margin_2x;

		li {
			list-style-type: none;
			border: 1px solid $grey_3;

			article {
				padding: $base-margin;
				position: relative;
			}

			&.staff>article {
				background: rgba($highlight, .05);
				border-left: 2px solid $highlight;
			}
		}

		&>li {
			border-radius: 3px;
			overflow: hidden;
			margin-bottom: 15px;
		}

		.comment-author {
			color: $base-color;
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			font-family: $serif;
			@include font-sizes(18px, 22px);

			a {
				color: $base-color;
				text-decoration: none;

				&:hover {
					color: $highlight;
				}
			}

			.says {
				display: none;
			}
		}

		.comment-edit-link {
			display: none;
		}

		.comment-meta {
			font-size: 14px;
			color: $grey_6;
			vertical-align: middle;

			a {
				color: $grey_6;
				font-weight: 400;
				text-decoration: none;

				&:hover {
					color: $highlight;
				}
			}
		}

		.comment-content {

			p:last-child {
				margin: 0;
			}
		}

		.comment-reply-link {
			position: absolute;
			top: 16px;
			right: 16px;
			font-size: 16px;
			text-transform: uppercase;
			text-decoration: none;
		}

		ul.children {
			margin: 0;

			li {
				border-top: 1px solid $border-color;
			}
		}

	}
}

.nav-links {
	@include clearfix;

	.nav-previous {
		float: left;
	}

	.nav-next {
		float: right;
	}
}

.comment-navigation {

	a {
		font-size: 20px;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.comment-respond {
	margin: 30px 0;

	@include media(">=tablet") {
		margin: 60px 0;
	}

	label {
		display: block;
		margin-right: 12px;

		&[for="subscribe"],
		&[for="wp-comment-cookies-consent"] {
			display: inline-block;
		}
	}

	@include media(">=tablet") {

		.comment-form-author,
		.comment-form-email {
			float: left;
			width: calc(50% - 16px);
		}

		.comment-form-email {
			margin-left: 32px;
		}

		input[type="submit"] {
			width: auto;
		}
	}
}