/* Site Header
---------------------------------------------------------------------------------------------------- */
/* .navbar-wrap {
	position: fixed;
	width: 100%;
	z-index: 999999;
} */

.site-header {
	background: $white;
	border-bottom: 1px solid $border-color;
	position: relative;
	min-height: 49px;
}

.title-area {
	/*float: left;*/
	float: right;
	width: 100%;
	max-width: $logo_width;
	text-align: left;
	margin: 0 auto;

	h1.site-title,
	p.site-title {
		margin: 0;
		font-size: 24px;
		line-height: 30px;

		padding: 8px 0 8px 8px;

		a {
			color: $base-color;
			text-decoration: none;
		}
	}


	.site-title a {
		background: url(../images/logo.png) no-repeat center;
		background-size: contain;
		display: block;
		text-indent: -9999em;
		width: 100%;
		direction: ltr;
		height: 0;
		padding-bottom: 86px / 40px * 100%;
	}


	@include media("<=mobile_menu") {
		float: none;
		text-align: center;

		.site-title a {
			padding-bottom: 0;
			height: 48px;
			background-size: auto 42px;
		}
	}


}


/* Admin Bar
--------------------------------------------- */

@include media(">782px") {
	.admin-bar .site-container {
		padding-top: 32px;
	}
}

@include media("<=782px") {
	#wpadminbar {
		display: none !important;
	}
}

/* Persistent Header
--------------------------------------------- */

@if($persistent_desktop) {
	@include media(">mobile_menu") {

		.site-container {
			padding-top: $persistent_desktop;
		}

		.site-header {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 999;
			height: $persistent_desktop;
		}

		@include media(">782px") {
			.admin-bar {

				.site-container {
					padding-top: 32px + $persistent_desktop;
				}

				.site-header {
					top: 32px;
				}
			}
		}
	}
}

@if($persistant_mobile) {
	@include media("<=mobile_menu") {

		.site-container {
			padding-top: $persistant_mobile;
		}

		.site-header {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 999;

			overflow: scroll;
			max-height: 100vh;
		}

		@include media(">782px") {
			.admin-bar {

				.site-container {
					padding-top: 32px + $persistant_mobile;
				}

				.site-header {
					top: 32px;
				}
			}
		}

	}
}