/* Footer Widgets
---------------------------------------------------------------------------------------------------- */
#top-footer {
	background-color: rgba(236, 237, 237, 0.31);
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 173px;
	@include media("<=mobile_menu") {
		display: none;
	}
	.top-footer-inner {
		width: 890px;
		margin: 0 auto;

		.top-footer-items {
			display: flex;
			justify-content: space-between;

			p {
				margin-top: 20px;
			}

			.image1 {
				height: 67px;
				width: auto;
			}

			.image2 {
				height: 68px;
				width: auto;
			}

			.image3 {
				height: 75px;
				width: auto;
			}
		}
	}

	@include media("<940px") {
		.top-footer-inner {
			width: 95%;
		}
	}

	@include media("<630px") {
		.top-footer-inner {
			.top-footer-items {
				p {
					margin-top: 0px;
					font-size: 16px;
				}

				.image1 {
					height: 40px;
				}

				.image2 {
					height: 40px;
				}

				.image3 {
					height: 47px;
				}
			}
		}
	}
}

@include media("<630px") {
	#top-footer {
		height: 100px;
	}
}

.footer-widgets {
	/*background: rgb(74,74,74);*/
	background-image: url("../images/footer-bg.png");
	padding: 40px 0 10px;
	position: relative;
	color: #fff;

	.wrap {
		position: relative;

		&:after {
			background-image: url("../images/footer-logo.png");
			content: "";
			background-size: cover;
			position: absolute;
			width: 204px;
			height: 435px;
		}
	}

	@include media("<1240px") {
		.wrap {
			width: 90%;
		}
	}

	h2 {
		color: #fff;
	}

	ul {
		margin-bottom: 30px;
		margin-top: 0px;
	}

	li {
		list-style-type: none;
		margin-bottom: 12px;
	}

	.our-details {
		li {
			display: flex;

			span {
				margin-left: 31px;
			}

			@include media("<medium") {
				span {
					position: absolute;
					right: 0px;
				}
			}

			@include media("<small") {
				span {
					position: initial;
					right: 0px;
				}
			}
		}
	}

	.widget-title {
		color: $white;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
	}

	a {
		color: $white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		svg {
			fill: $white;
			@include icon-position(20px);
			margin-right: 12px;
		}
	}

	@include media("<tablet") {
		.social-links li {
			display: inline-block;
			margin: 0;
		}

		.social-links .label {
			display: none;
		}

		.footer-widgets-1 {
			float: left;
			width: calc(50% - 8px);
		}

		.footer-widgets-2 {
			float: right;
			width: calc(50% - 8px);
		}

		.footer-widgets-3 {
			overflow: hidden;
			width: 100%;
		}
	}

	.wrap {
		@include columns(3, "div");
	}

	@include media("<=999px") {
		.wrap {
			@include columns(2, "div");

			&:after {
				margin-right: 0;
			}
		}
	}

	@include media("<=small") {
		.wrap {
			display: flex;
			flex-direction: column;

			.footer-widgets-2 {
				width: 85%;
				margin: 0 auto;

				.gform_wrapper {
					padding-right: 0;
				}
			}

			&:after {
				background-size: contain;
				left: 0;
				top: 0;
				width: 118px;
				height: 250px;
			}
		}
	}
}

/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background: $site_footer;
	color: rgba($white, 0.75);
	font-size: 14px;
	padding: 32px 0;
	text-align: center;

	.nav-footer {
		.menu-footer {
			list-style: none;
			text-align: right;

			a {
				text-decoration: none;
			}
		}
	}

	.wrap > *:last-child {
		margin-bottom: 0;
	}

	a {
		color: rgba($white, 0.75);

		&:hover {
			color: rgba($white, 1);
		}
	}

	span {
		a {
			text-decoration: underline !important;
		}
	}

	.footer-links a + a {
		margin-left: 12px;
	}

	.cafemedia {
		text-transform: uppercase;
	}

	.backtotop {
		background: rgba($black, 0.75);
		border-radius: 3px;
		display: inline-block;
		line-height: 20px;
		padding: 10px;
		text-decoration: none;

		svg {
			fill: $white;
			margin-left: 4px;
			vertical-align: middle;
		}

		&:hover {
			background: rgba($black, 1);
		}
	}

	.footer-left {
		display: flex;
		padding-right: 59px;

		& > *:last-child {
			margin-bottom: 0;
		}

		@include media("<640px") {
			padding-right: 0;
			justify-content: center;
		}

		@include media("<540px") {
			flex-direction: column;
			margin-right: 20px;
			line-height: 1;

			.footer-items-wrap {
				display: flex;
				flex-direction: column;
				text-align: right;

				.seperator {
					display: none;
				}
			}
		}
	}

	@include media(">=tablet") {
		.copyright,
		.footer-links {
			display: inline-block;
			margin-right: 20px;
		}

		.backtotop {
			float: right;
		}
	}
}

.widget-area.footer-widgets-2.footer-widget-area {
	grid-column: 3;
}

.widget-area.footer-widgets-1 {
	display: flex;
	flex-direction: column-reverse;
}

.widget-area.footer-widgets-1.footer-widget-area {
	grid-column: 2;
}
