.page-template-template-books,
.page-template-template-productions {
    .entry-header::after {
        background-image: #fff !important;
    }

    .entry-content {
        margin-top: 84px;
        width: 757px;
        margin-right: 15px;

        @include media('<900px') {
            margin-top: 30px;
        }
    }


    @include media('<800px') {
        .entry-content {
            width: 95%;
        }
    }

    .productions-container {
        margin: 6vh 0;

        .block-inner-container {
            margin: unset;
            width: 100%;

            .productions-grid {
                display: grid;
                grid-template-columns: 280px 280px 280px 280px;
                gap: 26px;

                .production-item {
                    .production-item-inner {
                        height: 422px;
                        overflow: hidden;
                        cursor: pointer;
                    }


                    .production-item-inner:hover {
                        overflow: unset;

                        img {
                            border-bottom: 5px solid $yellow;
                            margin-top: -5px;
                            transition: 500ms;
                        }
                    }

                    .production-item-inner:not(:hover) {
                        img {
                            transition: 500ms;
                            border-bottom: 0px solid $yellow;
                            margin-top: 0px;
                        }
                    }

                    .production-image-wrap {
                        height: 100%;
                        width: 100%;

                        display: flex;
                        justify-content: center;
                        flex-direction: column;

                        img {
                            margin: 0 auto;
                        }


                    }

                    .production-title {
                        text-align: center;
                        font-size: 20px;
                        font-weight: bold;
                        line-height: 1.35;
                        padding-top: 8px;
                        cursor: pointer;
                    }
                }
            }



        }



        @include media("<1180px") {
            .block-inner-container {
                width: 90%;

                margin: 0 auto;

                .productions-grid {
                    gap: 10px;
                    grid-template-columns: 24% 24% 24% 24%;
                }
            }
        }

        @include media("<medium") {
            .block-inner-container {
                .productions-grid {
                    grid-template-columns: 50% 50%;
                    overflow: hidden;
                    gap: 3px;

                }
            }
        }

        @include media("<small") {
            .block-inner-container {
                .productions-grid {
                    img {
                        width: 100%;
                    }
                }
            }
        }

        @include media("<650px") {
            .block-inner-container {
                .productions-grid {
                    .production-item {
                        position: relative;
                        margin-bottom: 20px;

                        .production-title {
                            position: absolute;
                            bottom: -3vw;
                            right: 0;
                            left: 0;
                        }
                    }
                }
            }
        }

        @include media("<560px") {
            .block-inner-container {
                .productions-grid {
                    .production-item {
                        .production-title {
                            bottom: 2vw;
                        }
                    }
                }
            }
        }

        @include media("<500px") {
            .block-inner-container {
                .productions-grid {
                    grid-template-columns: 100%;

                    .production-item {
                        img {
                            width: initial;
                        }

                        .production-title {
                            position: initial;
                        }
                    }
                }
            }
        }
    }

    .modal {
        width: 60%;

        @include media("<small") {
            width: 100%;
        }

        .flex-item {
            justify-content: space-between;

            .modal-image-wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 50%;

                @include media("<large") {
                    display: block;
                    max-width: 100%;

                    video {
                        width: 100%;
                    }
                }

                video {
                    max-height: 400px;
                }

                img {
                    box-shadow: 1px 1px 24px -9px #000;

                    @include media("<my-phone") {
                        max-width: 50%;

                    }
                }
            }

            .modal-text-wrap {
                text-align: right;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2 {
                    font-size: 32px;
                }

                h3 {
                    font-size: 28px;
                }
            }
        }
    }

    @include media("<1280px") {
        .modal {
            .flex-item {
                flex-direction: column;

                .modal-image-wrap {
                    flex-direction: row;
                }

                .modal-text-wrap {
                    width: 100%;
                    margin-top: 20px;
                }
            }
        }
    }

    @include media("<small") {
        .modal {
            padding: 12px;

            .flex-item {
                .modal-text-wrap {
                    h2 {
                        font-size: 25px;
                    }

                    h3 {
                        font-size: 21px;
                    }
                }
            }
        }
    }
}