.page-template-template-display-items {
    .entry-content {
        p {
            padding-right: 39px;
            margin-bottom: 30px;
        }
    }

    .photo-item:hover {
        border-bottom: 14px solid $yellow;
        transition: 500ms;
        margin-top: -14px !important;

    }

    .photo-item:not(:hover) {
        border-bottom: 0px solid $yellow;
        transition: 500ms;

    }

    .photo-item {
        background-size: cover !important;
    }
}

.page-template-template-photo-archive,
.page-template-template-display-items {
    .site-inner .wrap {
        max-width: 1280px;
        margin: 0 auto;
    }


    .block-inner-container {
        width: 100%;
        //  max-width: 12000px !important;
    }

    .top-paragraph {
        font-size: 17px;
        font-weight: bold;
        line-height: 1.59;
        margin-top: 85px;
    }

    .photos-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 43px;



        /*     a:hover {
            border-bottom: 14px solid $yellow;
            transition: 500ms;
            margin-top: -14px !important;

            .photo-item {
                border-radius: 9px 9px 0 0;
            }
        }

        a:not(:hover) {
            border-bottom: 0px solid $yellow;
            transition: 500ms;

            .photo-item {
                border-radius: 9px;
            }
        } */

        .photo-item {
            margin: 0;
            width: 100%;
            position: relative;
            padding-bottom: 69%;
            background: #f9f9f9;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 9px;

            h2 {
                color: #fff;
                position: absolute;
                bottom: 0;
                right: 28px;
            }

        }
    }
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 30px 0;
}

@include media("<1240px") {

    .page-template-template-photo-archive,
    .page-template-template-display-items {
        .photos-grid {
            gap: 19px;
            //  


        }
    }
}

@include media("<medium") {

    .page-template-template-photo-archive,
    .page-template-template-display-items {
        .photos-grid {


            .photo-item {
                h2 {
                    //     transform: translate(-3vw, -7vh);
                }
            }

            img {
                margin: 0 auto;
            }
        }
    }
}

@include media("<small") {

    .page-template-template-photo-archive,
    .page-template-template-display-items {
        .photos-grid {
            grid-template-columns: 96%;
            margin-right: 20px;

            .photo-item {
                width: 100%;

                h2 {
                    // transform: translate(-5vw, -6vh);
                    font-size: 30px;
                }
            }
        }
    }
}

@include media("<my-phone") {
    .photos-grid {
        .photo-item {

            h2 {
                //transform: translate(-5vw, -5vh);
                font-size: 25px;
            }
        }
    }
}

.page-template-template-display-items {
    .entry-content {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.5;
    }

    .photos-grid {
        .photo-item {

            h2 {
                color: #000;

                position: absolute;
                bottom: 0;
                right: 0;
            }

        }
    }
}

.page-template-template-display-items {
    .photos-grid {
        .photo-item {
            border-radius: unset !important;
        }
    }
}