.biography {
    .entry-header {
        background-image: url(../images/moshe-head.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: unset;
        background-color: #fff;

        .breadcrumb {
            margin-right: 0;
        }

        .entry-header-wrap {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto;

            .breadcrumbs {
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 3.9px;

                span:first-child {
                    color: #6d7278;
                }

                span:nth-child(2) {
                    color: $yellow;
                }
            }

            img {
                transform: translateY(44px);
                height: 500px;
            }

            .entry-header-text-wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 60%;

                h1 {
                    font-size: 84px;
                    line-height: 0.96;
                    letter-spacing: -0.8px;
                    margin: 20px 0 40px 0;
                    width: 95%;
                }

                .page-description {
                    line-height: 1.67;
                }
            }
        }

        @include media("<1550px") {
            .entry-header-wrap {
                width: 95%;

                .entry-header-text-wrap {
                    h1 {
                        margin: -10px 0 8px 0;
                    }
                }
            }
        }

        @include media("<1310px") {
            .entry-header-wrap {
                img {
                    height: 371px;
                }

                .entry-header-text-wrap {
                    h1 {
                        font-size: 53px;
                    }

                    .page-description {
                        line-height: normal;
                        font-size: 16px;
                    }
                }
            }
        }

        @include media("<medium") {
            .entry-header-wrap {
                flex-direction: column;
                width: 100%;
                position: absolute;
                top: 0;

                img {
                    width: 50%;
                    height: auto;
                    margin: 0 auto;
                }

                .entry-header-text-wrap {
                    margin: 18px;

                    width: 80%;

                    h1 {
                        width: 80%;
                        margin: 15px 0;
                    }
                }
            }
        }

        @include media("<small") {
            .entry-header-wrap {
                img {
                    // width: 70%;
                }

                .entry-header-text-wrap {
                    h1 {
                        font-size: 35px;
                    }
                }
            }
        }

        @include media("<my-phone") {
            .entry-header-wrap {
                img {
                    width: 75%;
                }

                .entry-header-text-wrap {
                    width: 93%;

                    .breadcrumbs {
                        font-size: 13px;
                        letter-spacing: 2px;
                    }
                }
            }
        }

        &:after {
            display: none;
        }
    }

    @include media("<medium") {
        .entry-header {
            height: 90vw;

            .entry-header-wrap {
                img {
                    transform: none;
                }
            }
        }

    }

    @include media("<890px") {
        .entry-header {
            height: 98vw;

        }

    }

    @include media("<small") {
        .entry-header {
            height: 800px;

        }
    }

    @include media("<730px") {
        .entry-header {
            height: 107vw;

        }

    }

    @include media("<600px") {
        .entry-header {
            height: 120vw;

        }
    }

    @include media("<my-phone") {
        .entry-header {
            .entry-header-wrap {
                img {
                    width: 50% !important;
                }
            }

            height: 574px;
        }
    }

    @include media("<380px") {
        .entry-header {
            height: 627px;
        }
    }

    .four-pics-container {
        text-align: right;

        .four-pics-title {
            border-bottom: 6px solid $yellow;
            display: inline-block;
            margin-bottom: 64px;

            .four-pics-seperator {
                display: none;
            }
        }
    }
}