.page-template-template-visitor-info {
    .entry-header {
        z-index: 0;
    }

    .create-visit-box {

        .block-inner-container {
            box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.11);
            padding-top: 0 !important;
            transform: translateY(-9vw);
            background-color: #fff;
            border-radius: 10px 10px 0 0;
        }

        .visit-box-header {
            font-size: 32px;
            line-height: 0.88;
            padding: 30px 40px;
            background-color: #4a4a4a;
            color: white;
            border-radius: 10px 10px 0 0;
        }

        .visit-info {
            font-size: 16px;
            line-height: 1.75;
            background-image: linear-gradient(to right, #c7b9b900 92%, #8f8f8f 130%);
            padding: 40px 40px 20px;

            .visit-info-top {
                .visit-info-title {
                    font-weight: bold;
                }

                .visit-info-title:nth-child(3) {
                    margin-top: 15px;
                }

                width:80%
            }

            .visit-info-bottom {
                margin-top: 70px;

                hr {
                    background-color: rgba(197, 210, 217, 0.22);
                    margin: 0 0 35px;
                }

                .visit-info-title {
                    text-align: center;
                    font-weight: bold;

                }



                img {
                    margin-top: 6px;
                    margin-left: 15px;
                }

                .flex-item {
                    margin-top: 10px;
                }

                .flex-item:first-child {
                    img {
                        width: 18px;
                        height: 27px;
                    }
                }

                .flex-item:nth-child(2) {
                    img {
                        width: 18px;
                        height: 18px;
                        filter: brightness(0);
                    }
                }

                .flex-item:nth-child(3) {
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }

                .flex-item:nth-child(4) {
                    img {
                        width: 18px;
                        height: 14px;
                    }
                }



            }
        }

        .visit-form {
            padding: 0 26px 45px;
            z-index: 2;
            width: 48%;

            input,
            textarea {
                background-color: rgba(197, 210, 217, 0.22);
            }

            input::placeholder,
            textarea::placeholder {
                color: rgb(153, 153, 153);
                font-size: 16px;
                font-weight: 500;
                line-height: 1.56;
            }

            .contact-us-title {
                font-size: 30px;
                font-weight: bold;
                margin-top: 86px;


            }

            .gform_wrapper .top_label li ul.gfield_checkbox {
                display: flex;
                justify-content: center;

                li {
                    width: 33%;
                }
            }

            @include media('<1200px') {
                .gform_wrapper .top_label li ul.gfield_checkbox {
                    justify-content: space-between;
                }
            }

            .contact-us-sub-title {
                font-size: 16px;
                line-height: 1.56;
            }

            .gfield_label {
                display: none !important;
            }

            #field_4_1 {
                .gfield_label {
                    display: block !important;

                    .gfield_required {
                        display: none !important;

                    }
                }
            }

            .visible-label {
                label {
                    display: block !important;

                    .gfield_required {
                        display: none !important;

                    }
                }
            }

            .margin-top {
                margin-top: 30px !important
            }

            .gform_wrapper .top_label input.medium,
            .gform_wrapper .top_label select.medium {
                width: 100%;
                border-radius: unset;
            }


            .gform_wrapper .gform_footer input.button,
            html[dir=rtl] .gform_wrapper .gform_footer input[type=submit] {
                background-color: $yellow;
                color: #000;
                width: 100%;
                border: none;
                text-align: center !important;
                border-radius: unset;
                font-size: 16px;
                font-weight: bold;
                line-height: 1.56;
            }

            .gform_wrapper .gform_footer {
                padding: 0;
                margin: 0;
            }

            li.gfield {
                padding-left: 0 !important;
            }

            li {
                margin: 0 !important;
            }

            .gfield_description {
                padding: 0 !important;
            }

            .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
                max-width: 100% !important;
            }

            .gform_wrapper ul.gform_fields li.gfield.gfield_error {
                padding-right: 0 !important;
            }


        }

        .gform_confirmation_wrapper {
            height: 100%;
            display: flex;
            justify-content: center;

            .gform_confirmation_message {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 26px;
                font-weight: bold;
                text-align: center;

                img {
                    margin: 0 auto;
                    width: 66px;
                }
            }
        }

        .gform_wrapper .top_label div.ginput_container {
            margin-top: 0;
        }

        .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
            border: none;
        }

        .gform_wrapper textarea {
            border: none;
        }
    }

    .map-container {

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 389px;

    }
}

@include media('<medium') {
    .create-visit-box {
        .block-inner-container {
            padding: 0 !important;
        }

        .visit-box-header {
            padding: 30px 40px !important;
        }

        .visit-info {
            padding: 20px 20px 20px !important;

            .visit-info-bottom {
                margin-top: 20px;
            }
        }

        .visit-form {
            padding: 0 26px 45px !important;

            .gform_wrapper .top_label li ul.gfield_checkbox {
                display: block;
            }

            .gform_confirmation_message {
                img {
                    width: 66px !important;
                }

                font-size: 15px;
                font-weight: bold;
            }
        }
    }
}

@include media('<small') {
    .create-visit-box {
        .block-inner-container {
            .flex-item {
                flex-direction: column-reverse;

                .visit-info {
                    background-image: none;

                    .museum-info {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;


                        .flex-item {
                            flex-direction: row;
                            flex-basis: 50%;
                        }
                    }
                }

                .visit-form {

                    .gform_wrapper .top_label li ul.gfield_checkbox {
                        display: flex;
                        justify-content: space-evenly;

                        li {
                            // width: unset;
                        }


                    }
                }
            }
        }


    }
}

@include media('<my-phone') {
    .create-visit-box {
        .block-inner-container {
            .flex-item {
                flex-direction: column-reverse;

                .visit-info {
                    background-image: none;

                    .museum-info {
                        display: block;

                    }
                }

                .visit-form {

                    .gform_wrapper .top_label li ul.gfield_checkbox {
                        display: flex;
                        justify-content: space-evenly;
                        flex-direction: column;

                        li {
                            width: unset;
                        }


                    }
                }
            }
        }


    }
}


.page-template-template-visitor-info .entry-content>*.blockfull {
    margin: 0 calc(50% - 50vw);
}