.page-template-template-future {

    .entry-header {
        background-color: #fff;
        overflow: unset;
        z-index: 10;
        margin-bottom: 7vw;



        .entry-header-wrap {
            margin: 0 auto;
            width: 1600px;
            display: flex;
            justify-content: space-between;
            margin-top: 220px;

            .entry-header-text-wrap {
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: 17px;

                .breadcrumb {
                    margin-right: 9px;
                    margin-bottom: 0;

                }

                h1 {
                    margin: 0;
                }

                p {
                    margin-top: 20px;

                }
            }

            .header-image-wrap {
                width: 50%;
                display: flex;
                flex-direction: row-reverse;
                max-width: 616px;
                margin-left: 75px;

                @include media('<1200px') {
                    margin-left: 0px;
                }
            }
        }

        .header-background {
            display: none;
        }

        &:after {
            display: none;
        }
    }

    @include media("<1620px") {
        .entry-header {
            display: contents;

            .entry-header-wrap {
                width: 100%;
                justify-content: space-between;
                margin-bottom: 50px;
                margin-top: 50px;
            }
        }
    }

    @include media("<1200px") {
        .entry-header {
            .entry-header-text-wrap {
                justify-content: space-between;

                h1 {
                    font-size: 67px;
                }
            }
        }
    }

    @include media("<medium") {
        .entry-header {
            .entry-header-wrap {
                .entry-header-text-wrap {
                    width: 80%;
                    margin-right: 10px;
                }

                .header-image-wrap {
                    display: none;
                }
            }
        }

    }

    @include media("<small") {
        .entry-header {


            .entry-header-wrap {
                .entry-header-text-wrap {
                    width: 98%;
                }
            }
        }

    }

    @include media("<600px") {
        .entry-header {


            .entry-header-wrap {
                .entry-header-text-wrap {
                    width: 98%;
                }
            }
        }

    }

    .agafs-header-wrap {
        h2:first-child {
            background-color: $yellow;
            display: inline-block;
        }
    }

    .agafs:nth-child(odd) {
        background-color: $my-gray;

        .flex-item {
            flex-direction: row;


            .agaf-text-wrap {
                padding-left: 5vw;
                padding-right: 2vw;
            }
        }
    }

    .agafs:nth-child(even) {
        .agaf-text-wrap {
            margin: 0 12vw 0 0;
        }

        .agaf-image-wrap {
            margin-right: 2vw
        }
    }

    .agafs {
        .block-inner-container {
            padding-top: unset !important;
            padding: 5vh 0 !important;

            @include media('<medium') {
                position: relative;
            }
        }

        .flex-item {
            flex-direction: row-reverse;
            justify-content: space-between;

            .agaf-text-wrap {
                width: 45%;
                margin-top: 74px;
                z-index: 10;
                display: flex;
                z-index: 10;
                flex-direction: column;
                justify-content: center;

                .agaf-number {
                    font-size: 140px;
                    font-weight: bold;
                    opacity: 0.36;
                    color: rgba(0, 0, 0, 0.1);
                    letter-spacing: -4.2px;
                    position: absolute;
                    transform: translate(1px, -6.1vw);

                    @include media('<medium') {
                        font-size: 85px;
                        top: 0;
                        transform: none !important;
                    }

                    @include media('<my-phone') {
                        top: -29px;
                        left: 0;
                    }
                }

                .agaf-number-1 {
                    transform: translate(1px, -70px);

                }

                .agaf-number-2 {
                    transform: translate(1px, -118px);
                }

                .agaf-number-3 {
                    transform: translate(1px, -87px);
                }

                .agaf-number-4 {
                    transform: translate(1px, -163px);
                }


                .agaf-number-5 {
                    transform: translate(1px, -91px);
                }

            }

            .agaf-content {
                font-weight: 500;
                line-height: 1.56;
            }
        }

        .agaf-image-wrap {
            width: 45%;
        }

        @include media("<medium") {
            section.agaf.flex-item {
                flex-direction: column;

                .agaf-text-wrap {
                    margin: unset;
                    margin: 5vh 0;
                }

                .agaf-image-wrap {
                    margin-right: unset;
                }
            }
        }

        @include media("<my-phone") {
            section.agaf.flex-item {


                .agaf-text-wrap {
                    margin: 0;
                }
            }
        }



    }
}