.visual_photos-template-default {

    @include media("<1300px") {
        .entry-content {
            padding: 0;
        }
    }

    .wrap {
        max-width: 1360px;

        .exhibitions-container {
            margin-top: 6vh;
            max-width: 1360px;
            margin: 0 auto !important;

            .block-inner-container {
                margin: unset;
                width: 100%;
                max-width: 1360px;
                margin-bottom: 100px;
                margin-top: 100px;

                .exhibitions-grid {
                    display: grid;
                    grid-template-columns: 31% 31% 31%;
                    gap: 13px;

                    .exhibition-item {
                        height: 23vw;
                        width: auto;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        img {
                            margin: 0 auto;
                        }
                    }
                }
            }

            @include media("<1400px") {


                .block-inner-container {
                    width: 90%;

                    margin: 0 auto;


                }
            }



            @include media("<medium") {
                .block-inner-container {
                    .exhibitions-grid {
                        grid-template-columns: 50% 50%;
                        overflow: hidden;
                    }
                }
            }



            /*       @include media("<my-phone") {
                .block-inner-container {
                    .exhibitions-grid {
                        gap: 10px;
                        grid-template-columns: 100%;

                        .exhibition-item {
                            height: 23vh;

                            .exhibition-title {
                                font-size: 20px;
                            }
                        }
                    }
                }
            } */
            @include media("<my-phone") {
                .block-inner-container {
                    .exhibitions-grid {
                        .exhibition-item {
                            height: 25vh !important;

                        }
                    }
                }

            }
        }
    }
}