.page-template-template-donations {
  iframe {
    width: 100%;
    height: 716px;
    margin-top: 80px;
  }

  .entry-header {
    background-color: #fff;
    overflow: unset;
    z-index: -10;
    margin-bottom: 7vw;
    margin-top: 120px;

    .entry-header-wrap {
      margin: 0 auto;
      width: 1530px;
      display: flex;
      justify-content: space-between;

      .entry-header-text-wrap {
        width: 45%;
        margin-top: 80px;
        margin-right: 17px;

        h1 {
          margin: 0;
        }

        p {
          font-size: 26px;
        }
      }

      .header-image-wrap {
        width: 50%;
        display: flex;
        flex-direction: row-reverse;
      }
    }

    .header-background {
      display: none;
    }

    &:after {
      display: none;
    }
  }

  @include media("<1620px") {
    .entry-header {
      display: contents;

      .entry-header-wrap {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 50px;
      }
    }
  }

  @include media("<1200px") {
    .entry-header {
      .entry-header-text-wrap {
        justify-content: space-between;

        h1 {
          font-size: 67px;
        }
      }
    }
  }

  @include media("<medium") {
    .entry-header {
      .entry-header-wrap {
        .entry-header-text-wrap {
          width: 80%;
          margin-right: 10px;
        }

        .header-image-wrap {
          display: none;
        }
      }
    }
  }

  @include media("<small") {
    .entry-header {
      .entry-header-wrap {
        .entry-header-text-wrap {
          p {
            font-size: 20px;
            width: 90%;
          }
        }
      }
    }
  }

  @include media("<my-phone") {
    .entry-header {
      .entry-header-wrap {
        .entry-header-text-wrap {
          p {
            font-size: 20px;
            width: 100%;
          }
        }
      }
    }
  }

  .donations-box {
    width: 763px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.11);
    margin: 0 auto;
    text-align: center;
    transform: translateY(-14vw);
    background-color: #fff;
    border-radius: 10px 10px 0 0;

    .donations-second-screen {
      display: none;
    }

    .donations-box-title {
      font-size: 32px;
      line-height: 0.88;
      padding: 30px 40px;
      background-color: #4a4a4a;
      color: white;
      border-radius: 10px 10px 0 0;
    }

    .dontaions-box-amount {
      margin-top: 50px;

      p {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.13;
      }

      .error-message {
        color: red;
        display: none;
        font-size: 25px;
      }

      .amount-circle-wrap {
        display: flex;
        justify-content: center;

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input::placeholder {
          color: $yellow;
          text-align: center;
          text-decoration: underline;
        }

        .amount-circle {
          background-color: #3b3b3b;
          color: $yellow;
          border-radius: 50%;
          width: 120px;
          height: 120px;
          display: flex;
          font-size: 42px;
          flex-direction: column;
          justify-content: center;
          cursor: pointer;
          margin: 0 19px;
        }

        .amount-circle-active {
          transition: 500ms;
          box-shadow: 2px 6px 12px 0 rgba(0, 0, 0, 0.17);
          border: solid 1.8px #000000;
          background-color: $yellow;
          color: #3b3b3b;
        }

        .amount-circle:hover {
          transition: 500ms;
          box-shadow: 2px 6px 12px 0 rgba(0, 0, 0, 0.17);
          border: solid 1.8px #000000;
          background-color: $yellow;
          color: #3b3b3b;
        }
      }
    }

    .donations-method {
      margin-top: 50px;

      p {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.13;
      }

      .method-buttons {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;

        div:first-child {
          @include yellow-button;
          width: 183px;
          height: 48px;
          font-size: 17px;
          margin: 0 5px;
          padding: 9px 0;
          border: 2px solid #000;
          cursor: pointer;
        }

        div:nth-child(2) {
          @include yellow-button;
          width: 183px;
          height: 48px;
          cursor: pointer;
          margin: 0 5px;
          background-color: #fff;
          border: 2px solid #000;
        }
      }
    }

    .donations-bottom-info {
      padding: 40px;
      text-align: right;

      .donations-bottom-info-inner {
        background-color: rgba(197, 210, 217, 0.22);
        padding: 40px;

        span {
          font-size: 17px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.59;
          margin-top: 40px;
        }

        .info-wrap-small {
          display: none;
        }

        .info-wrap-big {
          display: flex;
          margin-top: 40px;

          .right-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
              font-size: 17px;
              line-height: 1.59;
              font-weight: bold;
              width: 165px;
            }

            p:nth-child(2) {
              padding-bottom: 20px;
            }
          }

          .left-box {
            display: flex;

            flex-direction: column;
            justify-content: space-between;

            p {
              font-size: 17px;
              line-height: 1.59;
            }
          }
        }
      }
    }

    .donations-second-screen {
      position: relative;

      .donations-box-title {
        height: 346px;
        position: absolute;
        top: 0;
        width: 100%;
        text-align: right;
        z-index: -1;
        font-size: 32px;
      }

      form {
        label {
          display: none;
        }

        .first_field {
          label {
            color: $yellow;
            font-size: 18px;
            font-weight: bold;
            display: block !important;
          }
        }

        .second_field {
          label {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            display: block !important;
          }
        }

        padding-top: 46px;

        p {
          font-size: 26px;
          font-weight: bold;
          line-height: 1.04;
          padding-top: 30px;
        }

        .gform_footer {
          display: flex;
          flex-direction: row-reverse;

          .gform_button {
            @include yellow-button;
            width: 220px;
            height: 48px;
            border-radius: 2px;
            font-size: 16px;
            font-weight: bold;
            text-align: center !important;
          }
        }

        .gform_body {
          padding: 40px;

          .gfield_radio {
            display: flex;
            width: 458px;

            li {
              width: 50%;

              label {
                padding-top: 17px;
                display: block !important;
              }
            }
          }

          .gfield_required {
            display: none;
          }

          .gform_wrapper ul li.gfield {
            margin-top: 0 !important;
          }

          input {
            width: 289px;
            height: 48px;
            border-radius: 0;
            border: none;
            background-color: rgba(197, 210, 217, 0.22);
          }

          input::placeholder {
            font-size: 17px;
            color: #000;
            font-weight: 500;
            line-height: 1.59;
          }

          input[name="input_1"] {
            background-color: $yellow;
            font-size: 32px;
          }

          input[name="input_2"] {
            background-color: #fff;
          }

          textarea {
            width: 49%;
            float: left;
            height: 111px;
            border-radius: 0;
            border: none;
            margin-bottom: 67px;
          }
        }
      }

      @include media("<640px") {
        .gform_body {
          padding: 15px !important;
        }

        .gfield_radio {
          flex-direction: column;
          width: 100%;

          li {
            margin: 0 !important;
          }
        }

        .donations-box-title {
          height: 401px;
          font-size: 25px;
        }

        form {
          input {
            width: 100% !important;
          }

          textarea {
            width: 100% !important;
          }
        }

        @include media("<my-phone") {
          .donations-box-title {
            font-size: 17px;
          }

          form {

            #field_5_1>label,
            #field_5_2>label {
              font-size: 17px;
            }
          }
        }
      }
    }
  }

  @include media("<1620px") {
    .donations-box {
      transform: translateY(-10vw);
    }
  }

  @include media("<1010px") {
    .donations-box {
      transform: translateY(0vw);
    }
  }

  @include media("<830px") {
    .donations-box {
      width: 94%;
    }
  }

  @include media("<680px") {
    .donations-box {
      .donations-box-title {
        font-size: 27px;
        padding: 18px 40px;
      }

      .dontaions-box-amount {
        .amount-circle-wrap {
          .amount-circle {
            width: 70px;
            height: 70px;
            display: flex;
            font-size: 22px;
          }
        }
      }

      .donations-bottom-info {
        .donations-bottom-info-inner {
          .info-wrap-big {
            display: none;
          }

          .info-wrap-small {
            display: block;
            font-size: 17px;
            line-height: 1.59;
            font-weight: bold;
            margin-top: 20px;

            p {
              font-weight: normal;
            }
          }
        }
      }
    }
  }

  @include media("<480px") {
    .donations-box {
      .page-template-template-donations .donations-box .donations-box-title {
        font-size: 21px;
        padding: 10px 40px;
      }

      .dontaions-box-amount {
        .amount-circle-wrap {
          .amount-circle {
            margin: 0 3px;
          }
        }
      }

      .donations-method {
        p {
          font-size: 20px;
        }

        .method-buttons {
          display: block;
          margin: 0 auto;
          width: 190px;

          div:first-child {
            margin-bottom: 10px;
          }
        }
      }

      .donations-bottom-info {
        padding: 15px;

        .donations-bottom-info-inner {
          padding: 14px;
        }
      }
    }
  }

  .gform_wrapper ul li.gfield {
    margin-top: 0 !important;
  }
}