.single-post {
    .entry-header {
        margin-bottom: 0;
        position: block;
        background: none;
        z-index: 0;
        height: unset;
        margin-right: 0 !important;

        @include media("<large") {
            .entry-title{
                padding:0 20px
            }
        }
        @include media(">=tablet") {
            margin-bottom: 0;
            overflow: hidden;
            width: 100%;
            margin-right: calc(50% - 50vw);

            .entry-author {
                float: left;
                margin: 0;
            }

            .shared-counts-wrap {
                float: right;
            }
        }

        .header-background {
            position: absolute;
            background-size: cover;
            background-position: center;
            width: calc(56% + 110px);
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            clip-path: polygon(0 0, 100% 0, calc(100% - 116px) 100%, 0% 100%);

        }

        &:after {
            display: none;
        }


        *:last-child {
            margin-bottom: 0;
        }
    }

    .header-background {
        margin-bottom: 18px;
        position: relative;
        background: $yellow;
        z-index: 1;
        height: 25vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media(">=tablet") {
            margin-bottom: 0;
            overflow: hidden;
           // width: 100vw;
            margin-right: calc(50% - 50vw);
        }

        .header-background-inner {
            position: absolute;
            background-size: cover;
            background-position: center;
            width: calc(56% + 110px);
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            clip-path: polygon(0 0, 100% 0, calc(100% - 116px) 100%, 0% 100%);

        }

        &:after {
            content: '';
            position: absolute;
            background-image: url('../images/default-header.jpg');
            background-size: cover;
            background-position: center;
            width: calc(44% + 0px);
            height: 100%;
            top: 0;
            right: 0;
            z-index: -2;
            clip-path: polygon(116px 0, 100% 0, 100% 100%, 0% 100%);
        }

    }

    h1 {
        font-size: 41px;
        text-decoration: underline $yellow;
        margin-top: 61px;
        margin-right: 0 !important;
    }

    .breadcrumb {
        font-size: 16px;
        font-weight: bold;
        z-index: 20;
        border: none;
        margin: 0;
        padding: 0;
width: 80%;
        span:first-child {
            color: #6d7278;
        }

        .sep {
            color: $yellow;
        }
    }

    .header-text-wrap {
        z-index: 20;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin-right: 100px;

        h2 {
            font-size: 81px;
        }


    }

    .entry-content {
        margin: 42px 0;
    }

    @include media('<1600px') {

        .header-text-wrap,
        .breadcrumb {
            right: 50px;
        }
    }

    .entry-content {
        img {
            margin: 19px 0;
        }

    }

    @include media('<1600px') {

        .entry-content,
        h1 {

           // width: 95%;
            margin: 0 auto;

        }

        h1 {
            margin-top: 61px;
        }

    }

    @include media('<medium') {
        h1 {
            margin-top: 10px;
            font-size: 35px;
        }

        .breadcrumb {
            right: 20px;
            top: 159px;
            font-size: 14px;
        }

        .header-text-wrap {
            margin-right: 20px;

            h2 {
                font-size: 50px;
            }

            .display-bread-crumbs {
                font-size: 14px;
                letter-spacing: 1px;
            }
        }
    }

    @include media('<769px') {
        .breadcrumb {
            top: 67px;
        }

        .header-text-wrap {
            top: 114px;

            h2 {
                font-size: 35px;
            }

            .display-bread-crumbs {
                font-size: 12px;
            }
        }
    }

    @include media('<my-phone') {
        .breadcrumb {
            font-size: 12px;
            top: 97px;
        }

        .header-text-wrap {
            top: 84px;


        }
    }

    @include media('<900px') {
        .header-background {
            height: 200px !important;
            background: none !important;

            &:after {
                display: none !important;
            }

            .header-background-inner {
                clip-path: none !important;
                width: 100% !important;
                opacity: 0.3 !important;
            }
        }

    }
}