.page-template-template-exhibition-categories {
    .entry-header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .entry-header-text-wrap {
            width: 40%;
            margin-right: 108px;

            @include media("<1550px") {
                width: 45%;
            }

            .breadcrumb,
            h1 {
                margin-right: 0 !important;
            }

            p {
                font-size: 18px;
                line-height: 1.67;
            }
        }

        @include media("<1400px") {
            .entry-header-text-wrap {
                margin-right: 28px;

                h1 {
                    font-size: 48px;
                }
            }
        }

        @include media("<1200px") {

            .entry-header-text-wrap {
                p {
                    font-size: 15px;
                    line-height: 1.3;
                }
            }

        }

        @include media("<1000px") {

            .entry-header-text-wrap {
                width: 50%;
            }

        }

        @include media("<900px") {

            .entry-header-text-wrap {
                width: 95%;

            }

        }

        @include media("<small") {
            h1 {
                font-size: 39px;
            }
        }

        @include media("<my-phone") {
            .entry-header-text-wrap {
                margin-right: 7px;

                h1 {
                    font-size: 37px;
                    margin: 0;
                }
            }
        }
    }

    .wrap {
        max-width: 1360px;

        .exhibitions-container {
            margin-top: 6vh;
            max-width: 1360px;
            margin-bottom: 97px;

            @include media("<medium") {
                margin-bottom: 40px;
            }

            @include media("<my-phone") {
                margin-bottom: 20px;
            }

            .block-inner-container {
                margin: unset;
                width: 100%;
                max-width: 1360px;

                .exhibitions-grid {
                    display: grid;
                    grid-template-columns: 33% 33% 33%;
                    gap: 13px;

                    .exhibition-item {
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        height: 23vw;
                        width: auto;
                        position: relative;


                        &:hover {
                            overflow: unset;
                            border-bottom: 14px solid $yellow;
                            box-shadow: 1px 1px 24px -9px #000;
                            transition: 500ms;
                        }

                        &:not(:hover) {
                            border-bottom: 0 solid $yellow;
                            box-shadow: none;
                            transition: 500ms;
                        }


                        .exhibition-title {
                            font-size: 30px;
                            font-weight: 500;
                            cursor: pointer;
                            position: absolute;
                            bottom: 25px;
                            right: 25px;
                            color: #fff;
                        }
                    }
                }



            }



            @include media("<1400px") {
                .entry-header {
                    .entry-header-wrap {
                        .entry-header-text-wrap {
                            width: 32%;
                        }
                    }
                }

                .block-inner-container {
                    width: 90%;

                    margin: 0 auto;


                }
            }



            @include media("<medium") {
                .block-inner-container {
                    .exhibitions-grid {
                        grid-template-columns: 50% 50%;
                        overflow: hidden;
                    }
                }
            }

            @include media("<small") {
                .block-inner-container {
                    .exhibitions-grid {
                        .exhibition-title {
                            bottom: 0 !important;
                            right: 5px !important;
                        }
                    }
                }
            }



            @include media("<my-phone") {
                .block-inner-container {
                    .exhibitions-grid {
                        gap: 10px;
                        grid-template-columns: 100%;

                        .exhibition-item {
                            height: 23vh;

                            .exhibition-title {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }


        }
    }
}