.page-template-template-contact-us-page {
    main {
        background-image: url('../images/contact-us-bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .wrap {
        max-width: unset;
    }

    .site-inner {

        // background-color: greenyellow;
        h1 {
            margin-top: 105px;
            margin-right: 227px;
        }

        .breadcrumb {
            margin-top: 105px;
            margin-right: 227px;
            position: absolute;

        }

        header::after {
            background-image: none !important;

        }

        article {
            display: flex;
            padding-bottom: 200px;

            @include media('<medium') {
                padding-bottom: 55px;
            }
        }

        header {
            overflow: unset !important;
            width: 50%;
            background-position: center;
            background-size: cover;
            display: block !important;
            margin-bottom: 0;
            background: none !important;
        }

    }


    .entry-content {
        flex-basis: 50%;
        width: 50%;
    }

    .contact-us-box {
        width: 632px;
        box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.11);
        background-color: #ffffff;

        border-radius: 10px 10px 0 0;

        .contact-us-header {
            background-color: #4a4a4a;
            font-size: 32px;
            height: 88px;
            color: #fff;
            border-radius: 10px 10px 0 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-right: 40px;
            width: 100%
        }


        z-index: 2;

        form {
            li {
                margin: 0;
            }

            padding: 0 26px 40px;

            .gfield_checkbox {
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 33%;
                }

                @include media('<500px') {


                    li {
                        width: 50%;
                    }
                }
            }
        }

        input,
        textarea {
            background-color: rgba(197, 210, 217, 0.22);
            border-radius: 0;
            border: none;
        }

        input::placeholder,
        textarea::placeholder {
            color: rgb(143, 143, 143);
            font-size: 16px;
            font-weight: 500;
            line-height: 1.56;
        }

        .contact-us-title {
            font-size: 30px;
            font-weight: bold;
            margin-top: 86px;


        }

        .gfield_radio {
            display: flex;
            justify-content: right;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.5;

            li {
                width: 50%;
            }
        }

        .gform_wrapper .field_description_below .gfield_description {
            padding: 0;
        }

        .gform_wrapper .instruction {
            font-size: 12px;
        }

        .gform_wrapper .top_label .gfield_label {
            display: none;
        }

        .gform_wrapper ul li.gfield {
            margin-top: 0 !important;
        }

        .gform_wrapper .top_label div.ginput_container {
            margin-top: 10px !important;

        }

        #field_6_8 {
            label {
                display: block;
                margin: 5px 0 10px;
                font-size: 17px;
                font-weight: 500;
                line-height: 1.59;
            }
        }

        .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
            width: 100%;
        }

        .gform_footer {
            padding: 0 !important;
            margin: 0 !important;
            width: 97%;

            .gform_button {
                text-align: center !important;
                width: 100%;
                background-color: $yellow;
                font-size: 17px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.59;
                cursor: pointer;
            }
        }
    }

    @include media('<1400px') {
        .site-inner {
            h1 {
                margin-right: 52px;
            }

            .breadcrumb {
                margin-right: 52px;

            }
        }

    }

    @include media('<1200px') {
        .site-inner {
            h1 {
                margin-top: 56px;
            }

            .breadcrumb {
                margin-top: 47px;

            }
        }

    }

    @include media('<small') {
        .site-inner {
            h1 {
                margin-right: 20px;
            }

            .breadcrumb {
                margin-right: 20px;

            }
        }

    }

    @include media('<medium') {
        .site-inner {
            article {
                flex-direction: column;

                .entry-header {
                    width: 100%;
                }

                .entry-content {
                    width: 100%;

                    .contact-us-box {
                        margin: 0 auto;
                    }

                }
            }
        }

    }

    @include media('<700px') {
        .contact-us-box {
            width: 90%
        }
    }

    @include media('<640px') {
        .contact-us-box {
            form {
                padding: 0;
            }
        }
    }

    .entry-content {
        position: relative;



    }

    .bottom-banner {
        width: 100vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 258px;
        background-color: rgba(29, 29, 29, 0.64);
        margin: 0;

        @include media('<1200px') {
            top: -258px;
        }

        .bottom-text {
            font-size: 23px;
            font-weight: bold;
            color: #fff;
            line-height: 1.17;
        }

        a {
            @include yellow-button;
            width: 192px;
            margin: 0 auto;
            margin-top: 20px;
        }
    }

    .footer-widgets {
        .wrap {
            max-width: 1200px
        }
    }
}