.display_item-template-template-display-items-single,
.display_item-template-default {
    .header-background {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    article {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    h1 {
        font-size: 36px;
        font-weight: 500;
        text-decoration: underline $yellow;
    }

    .breadcrumb {
        font-size: 16px;
        font-weight: bold;
        right: 110px;
        top: 168px;
        z-index: 20;
        border: none;
        margin-bottom: 0;
        margin-right: 120px;

        span:first-child {
            color: #6d7278;
        }

        .sep {
            color: $yellow;
        }
    }

    @include media('<medium') {
        .header-text-wrap {
            margin-right: 20px !important;
        }

        .breadcrumb {
            margin-right: 20px;
        }
    }

    .header-text-wrap {
        right: 110px;
        margin-right: 120px;
        top: 202px;
        z-index: 20;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.5;

        h2 {
            font-size: 84px;
        }
    }

    @include media('<1200px') {
        .breadcrumb {
            right: 50px;
            top: 114px;
        }

        .header-text-wrap {
            right: 50px;
            top: 157px;

            h2 {
                font-size: 70px;
            }
        }
    }

    @include media('<770px') {
        .breadcrumb {
            font-size: 14px !important;
            padding-top: 0 !important;

            top: 84px;
        }

        .header-text-wrap {
            top: 97px;

            h2 {
                font-size: 59px;
            }

            .display-description {
                font-size: 15px !important;

            }
        }
    }

    @include media('<my-phone') {
        .breadcrumb {
            font-size: 12px !important;
            right: 10px;
        }

        .header-text-wrap {
            top: 97px;
            right: 10px;

            h2 {
                font-size: 49px;
            }

            .display-description {
                font-size: 13px !important;

            }
        }
    }

    .header-background-inner {
        position: absolute;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        &:after {
            background-image: linear-gradient(92deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.98) 84%, #ffffff 100%);
            z-index: -1;
            width: 100%;
            content: '';
            position: absolute;
            background-size: cover;
            background-position: center;

            height: 100%;
            top: 0;
            right: 0;
        }
    }

    .header-background {
        margin-bottom: 0;
        overflow: hidden;
        position: relative;
        background: #FFD65D;
        z-index: 1;
        height: 25vw;
        width: 100vw;
        margin-right: calc(50% - 50vw);
    }

    @include media('<900px') {
        .header-background {
            height: 200px;
        }
    }

    .entry-header {
        display: none;

        .header-background {
            width: 100%;
            clip-path: none;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .header-text-wrap {
                .display-bread-crumbs {
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 3.9px;

                    span:first-child {
                        color: #6d7278;
                    }

                    span:nth-child(2) {
                        color: $yellow;
                    }
                }

                .display-description {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.5;
                }

                margin-right: 112px;

                h2 {
                    font-size: 84px;
                }

            }

            &:after {
                background-image: linear-gradient(92deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.98) 84%, #ffffff 100%);
                z-index: -1;
                width: 100%;
                content: '';
                position: absolute;
                background-size: cover;
                background-position: center;

                height: 100%;
                top: 0;
                right: 0;
            }

            @include media('<medium') {
                .header-text-wrap {
                    margin-right: 32px;

                    h2 {
                        font-size: 59px;
                    }

                    .display-description {
                        font-size: 16px;
                    }
                }
            }

            @include media('<small') {
                .header-text-wrap {
                    margin-right: 20px;

                    .display-bread-crumbs {
                        font-size: 13px;
                        letter-spacing: 1.9px;
                    }

                    h2 {
                        font-size: 49px;
                        margin: 0
                    }

                    .display-description {
                        font-size: 13px;
                    }

                }
            }

        }


    }

    @include media('<1290px') {
        .entry-content {
            width: 95% !important;
            margin: 0 auto;
        }
    }

    .entry-content>*.display-items-banner {
        padding: 5vh 0px;
    }


    .display-items-banner {
        background-color: #00000080;
        background-blend-mode: color;


        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        width: 100vw;
        margin-top: 20px;

        .block-inner-container {
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            color: #fff;
            padding: 4vh 0 !important;

            h2 {
                color: #fff;
            }

            .display-items-buttons {
                margin-top: 40px;

                a {
                    @include yellow-button;

                }

                a:last-child {
                    margin-right: 20px;
                }

                @include media("<my-phone") {
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    a:last-child {
                        margin: 20px 0;
                    }
                }
            }
        }
    }
}