 .tax-videos_cat {

     .archive-description {
         text-align: right;
         max-width: unset;
     }

     .site-inner {
         margin-bottom: 87px;
         height: 1260px;

         @include media('<1080px') {
             height: calc(103vw + 347px);
         }

         @include media('<small') {
             height: calc(118vw + 347px);
         }

         @include media('<small') {
             height: calc(140vw + 359px);
         }

         .wrap {
             max-width: 100%;

             .site-main {
                 position: relative;
             }

             .header-wrap {
                 height: 600px;
                 background-image: url(../images/visual-testimonies-head.png);
                 background-size: cover;
                 background-position: center;
                 background-repeat: no-repeat;

                 .header-wrap-inner {
                     padding: 90px 111px 0 0;

                     h1 {
                         font-size: 70px;
                         font-weight: bold;

                         @include media('<medium') {
                             font-size: 50px;
                         }
                     }

                     .breadcrumbs {
                         font-size: 16px;
                         font-weight: bold;
                         letter-spacing: 3.9px;

                         span:first-child {
                             color: #6d7278;

                         }

                         span:nth-child(2) {
                             color: $yellow;
                         }
                     }
                 }

                 @include media('<medium') {
                     .header-wrap-inner {
                         padding: 90px 50px 0 0;
                     }
                 }

                 @include media('<small') {
                     .header-wrap-inner {
                         padding: 25px 40px 0 0;

                         h1 {
                             font-size: 55px;
                         }

                         .breadcrumbs {
                             font-size: 16px;

                             letter-spacing: 1.9px;
                         }
                     }

                     .video-wrap {
                         top: 222px;
                     }
                 }

                 @include media('<650px') {
                     .header-wrap-inner {
                         padding: 25px 10px 0 0;

                         h1 {
                             font-size: 45px;
                         }

                     }

                 }

                 @include media('<my-phone') {
                     .header-wrap-inner {
                         h1 {
                             font-size: 42px;
                         }

                         .breadcrumbs {
                             font-size: 14px;
                             letter-spacing: normal;
                         }
                     }

                 }
             }

             @include media('<small') {
                 .header-wrap {
                     height: 86vw;
                 }

             }

             @include media('<my-phone') {
                 .header-wrap {
                     height: 102vw !important;
                 }

             }
         }
     }

     .post-summary {

         img {

             margin: 0 10px;
         }

         h2.post-summary__title {
             margin: 0 auto;

         }

     }


     .content-wrap {
         top: 347px;
         position: absolute;
         right: 0;
         left: 0;

         @include media('<815px') {
             top: 245px;
         }
     }

     .video-wrap {

         display: flex;
         flex-direction: column;
         margin-bottom: 100px;
         //position: absolute;
         margin: 0 auto;
         width: 90%;
         top: 347px;
         left: 0;
         right: 0;

         @include media('<1900px') {
             width: initial;

             .pre-title {
                 margin-right: 50px;
             }
         }

         video {
             // width: 1082px;
             height: 570px;
             margin: 0 auto;
             border-top: 9px solid $yellow;
         }



         h3 {
             width: 1000px;
             margin: 12px auto;
             font-weight: bold;
         }
     }

     @include media('<small') {
         .video-wrap {
             top: 222px;
             margin-bottom: 0;
         }
     }

     .pre-title {
         font-size: 18px;
         border-bottom: 2px solid $yellow;
         border-width: thick;
         width: fit-content;
         margin: 20px 50px;

         @include media("<670px") {
             margin: 20px 20px;
             margin-right: 0 !important;
         }
     }

     .videos-slider-wrap {
         width: 100%;
         max-width: 1672px;
         margin: 0 auto;

         // margin-top: 300px;
         .slick-slide {
             max-width: 423px;
         }

         .slick-arrow {
             height: 55px;
             background-color: $yellow;
             border-color: $yellow;
             color: #000;
             position: absolute;
             top: 0;
             bottom: 37px;
             margin: auto;
             width: 55px;
             z-index: 10;
             cursor: pointer;
             font-size: 26px;
         }

         .slick-prev {
             left: -27px;
         }

         .slick-next {
             right: -27px;
         }
     }

     .post-summary__content {

         text-align: center;


         h2 a {
             font-weight: bold;
         }
     }

     @include media("<1740px") {
         .videos-slider-wrap {
             width: 95%;
         }
     }

     @include media("<1080px") {
         .slick-arrow {
             display: none !important;
         }

         .post-summary {
             h2.post-summary__title {
                 width: 100%;
             }

         }

         .video-wrap {
             h3 {
                 width: 90%
             }

             video {
                 width: 90%;
                 height: auto;
             }


         }

         .videos-slider-wrap {
             // margin-top: 22vw;
             width: 100% !important;

             /* @include media("<960px") {
                 margin-top: 17vw;
             }

             @include media("<830px") {
                 margin-top: 15vw;
             }

             @include media("<670px") {
                 margin-top: 5vw !important;
             }

             @include media("<580px") {
                 margin-top: 12vw !important;
             } */

             @include media("<500px") {
                 // margin-top: 18vw !important;

                 h2.post {
                     font-weight: normal !important;
                     font-size: 11px !important;
                 }
             }

             /*   @include media("<490px") {
                 margin-top: 15vw !important;

             } */

             .post-summary {
                 width: 25vw;
                 overflow: hidden;

                 h2.post {
                     font-size: 15px;
                 }
             }
         }

         a.post-summary__image {
             width: 100%;
             margin: 12px auto;
         }
     }

     @include media("<small") {
         .videos-slider-wrap {
             margin-top: 0;
         }
     }
 }