.home {
    .entry-header {
        height: unset;
        padding-bottom: 29%;

        .header-container {
            height: 100%;

            .slick-list {
                height: 100%;

                .slick-track {
                    height: 100%;
                }
            }
        }

        .header-background {
            display: none;

        }

        &:after {
            display: none;
        }

        h2,
        .slides-numbers {
            color: #fff;
            margin-right: 8%;
            line-height: 0.94;
            width: 50%;
            font-size: 108px;
        }

        .slides-numbers {
            font-size: 15.8px;
            letter-spacing: 2.11px;
            margin-bottom: 0 !important;

            span {
                color: $yellow;
                font-size: 60px;
            }
        }

        @include media('<1700px') {
            h2 {
                font-size: 74px;
            }
        }

        @include media('<1200px') {
            h2 {
                font-size: 60px;
            }
        }

        @include media('<medium') {
            h2 {
                font-size: 42px;
            }
        }

        @include media('<small') {
            h2 {
                font-size: 42px;
                width: 95%;
                margin-right: 3%;
            }
        }

        .header-container {
            position: absolute;
            top: 0;
            // height: 100%;
            width: 100%;
            z-index: -1;

            .header-slide {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .slick-dots li.slick-active {
                list-style-image: url('../images/slick-active.png');
                margin-right: 5px;
                margin-top: 6px;
            }

            .slick-dots {
                display: block;
                position: absolute;
                bottom: 0;
                margin-right: 14vw;
                transform: rotate(90deg);

                li {


                    button {
                        font-size: 0;
                        line-height: 0;
                        display: block;
                        width: 20px;
                        height: 20px;
                        padding: 5px;
                        cursor: pointer;
                        color: transparent;
                        border: 0;
                        outline: none;
                        background: transparent;

                        &:before {
                            font-size: 6px;
                            line-height: 20px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 20px;
                            height: 20px;
                            content: '•';
                            text-align: center;
                        }
                    }

                }
            }

            .slick-track {
                height: 25vw;

                .header-slide {
                    img {

                        width: 100%;
                    }
                }
            }
        }


    }

    @include media('<900px') {
        .entry-header {
            padding-bottom: 254px;
        }
    }

    @include media('<small') {
        .entry-header {
            margin-bottom: 0 !important;
        }
    }

    .site-inner .wrap {
        max-width: unset;

        .news-titles-wrap {
            //height: 87px;
            width: 100%;
            background-image: linear-gradient(to bottom, #c2c2c2 -52%, #8f8f8f 130%);
            color: #fff;
            overflow: hidden;
            display: flex;
            justify-content: center;

            height: 85px;

            .flex-item {
                width: 1420px;
                justify-content: center;
                margin-top: 28px;

                .updates {
                    font-size: 20px;
                    font-weight: bold;
                }

                .all-updates {
                    font-size: 16px;
                    font-weight: bold;
                    text-decoration: underline;
                    color: $yellow;
                }
            }

            .ticker-wrap {
                width: 1200px;
                margin: 0 auto;
                overflow: hidden;
                /* Push contents to right side of screen */
            }

            /* INNER CONTAINER */
            @keyframes ticker {
                0% {
                    transform: translate3d(-65%, 0, 0);
                }

                100% {
                    transform: translate3d(99%, 0, 0);
                }
            }

            .ticker-move {
                /* Basically move items from right side of screen to left in infinite loop */
                display: inline-block;
                white-space: nowrap;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-name: ticker;
                animation-duration: 25s;

                a:hover {
                    text-decoration: underline;
                }
            }

            .ticker-move:hover {
                animation-play-state: paused;
                /* Pause scroll on mouse hover */

            }

            /* ITEMS */
            .single-title-wrap {
                display: inline-block;

                /* Lay items in a horizontal line */
                span {
                    padding: 0 1rem;
                }
            }

        }

        @include media('<1450px') {
            .news-titles-wrap {

                .flex-item {
                    width: 98%;

                    .all-updates {
                        width: 115px;
                    }

                    .ticker-wrap {
                        width: 82%;
                    }
                }
            }
        }

        @include media('<1200px') {
            .news-titles-wrap {
                height: 55px;

                .flex-item {
                    margin-top: 13px;
                }
            }
        }

        @include media('<medium') {
            .news-titles-wrap {
                height: 43px;

                .flex-item {
                    margin-top: 7px;

                    .updates {
                        font-size: 15px;
                    }

                    .all-updates {
                        font-size: 15px;
                    }

                    .ticker-wrap {
                        width: 77%;
                    }
                }
            }
        }

        @include media('<medium') {
            .news-titles-wrap {
                height: 33px;

                .flex-item {
                    margin-top: 3px;

                    .updates {
                        font-size: 13px;
                    }

                    .all-updates {
                        font-size: 13px;
                        width: unset;
                    }

                    .ticker-wrap {
                        width: 67%;
                        font-size: 12px;
                    }
                }
            }
        }

        @include media('<my-phone') {
            .news-titles-wrap {

                .flex-item {

                    .all-updates {
                        width: 78px;
                    }

                }
            }
        }



        footer {
            .wrap {
                max-width: 1200px;

            }

        }
    }

    .footer-widgets {
        .wrap {
            max-width: 1200px !important;

        }
    }

    .home-article-container:nth-child(odd) {
        //PUT REAL PHOTO
        background-image: url(../images/home-visual-testimonies.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 0;
    }

    .home-article-container:nth-child(even) {
        margin-top: -40px;
        background-color: rgba(21, 20, 17, 0.1);
    }

    .blockfull:nth-child(5) {
        background-color: rgba(21, 20, 17, 0.1);
        margin-top: 0;
    }
}