//Normalize Form Plugin

.gform_wrapper div.validation_error {
    display: none;
}

.charleft {
    display: none;
}

.gform_wrapper form li.gfield.gfield_error {
    margin-top: 0;
    margin-bottom: 0 !important;
    background-color: transparent;
    border: none;
}

.gform_wrapper li.gfield.gfield_error div.gfield_description {
    //display: none;
}

.gform_wrapper form li.gfield.gfield_error div.ginput_container,
.gform_wrapper form li.gfield.gfield_error label.gfield_label {
    margin-top: .375em;
    margin-left: 0;
}

.gform_wrapper.gf_browser_chrome form .gfield_error input[type=email],
.gform_wrapper.gf_browser_chrome form .gfield_error input[type=number],
.gform_wrapper.gf_browser_chrome form .gfield_error input[type=password],
.gform_wrapper.gf_browser_chrome form .gfield_error input[type=tel],
.gform_wrapper.gf_browser_chrome form .gfield_error input[type=text],
.gform_wrapper.gf_browser_chrome form .gfield_error input[type=url],
.gform_wrapper.gf_browser_chrome form .gfield_error select,
.gform_wrapper.gf_browser_chrome form .gfield_error textarea,
.gform_wrapper.gf_browser_chrome form li.gfield_error.field_sublabel_above .ginput_complex input[type=text] {
    margin-bottom: 0;
}

.gform_wrapper form li.gfield.gfield_error.gfield_contains_required div.ginput_container,
.gform_wrapper form li.gfield_html,
.gform_wrapper .top_label .gfield_error .ginput_container {
    width: 100%;
}

.footer-widgets {
    .gform_widget {
        .widget-wrap {
            h3 {
                font-size: 28px;
                font-weight: 500;
                letter-spacing: -0.56px;
            }

            input::placeholder,
            textarea::placeholder {
                color: #000;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.56;
            }

            label {
                display: none !important;
            }

            .gform_wrapper .top_label input.medium,
            .gform_wrapper .top_label select.medium {
                width: 100%;
                border-radius: unset;
            }


            .gform_wrapper .gform_footer input.button,
            html[dir=rtl] .gform_wrapper .gform_footer input[type=submit] {
                background-color: rgb(255, 214, 93);
                width: 100%;
                border: none;
                text-align: center !important;
                border-radius: unset;
                font-size: 16px;
                font-weight: bold;
                line-height: 1.56;
            }

            .gform_wrapper .gform_footer {
                padding: 0;
                margin: 0;
            }

            li.gfield {
                padding-left: 0 !important;
            }

            li {
                margin: 0 !important;
            }

            .gfield_description {
                padding: 0 !important;
            }

            .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
                max-width: 100% !important;
            }

            .gform_wrapper ul.gform_fields li.gfield.gfield_error {
                padding-right: 0 !important;
            }
        }
    }
}