@mixin base-style {
	color: $base-color;
	font-family: $sans-serif;
	@include font-sizes( 18px, 18px );
	font-weight: 400;
	line-height: 1.55;

	@media print {
		font-family: sans-serif;
	}
}

%transition {
	transition: all 0.1s ease-in-out;
}

%alt_link {
	color: $base-color;
	font-weight: 400;

	&:hover {
		color: $highlight;
		text-decoration: none;
	}
}
